In [1]:
%run ./00_ghcn_setup.ipynb
# Run this cell to start a spark session in this notebook

start_spark(executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1)

Warning: Ignoring non-Spark config property: fs.azure.sas.campus-user.madsstorage002.blob.core.windows.net
Warning: Ignoring non-Spark config property: SPARK_DRIVER_BIND_ADDRESS
25/04/03 10:55:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Assignment 1 ###

The code below demonstrates how to explore and load the data provided for the assignment from Azure Blob Storage and how to save any outputs that you generate to a separate user container.

**Key points**

- The data provided for the assignment is stored in Azure Blob Storage and outputs that you generate will be stored in Azure Blob Storage as well. Hadoop and Spark can both interact with Azure Blob Storage similar to how they interact with HDFS, but where the replication and distribution is handled by Azure instead. This makes it possible to read or write data in Azure over HTTPS where the path is prefixed by `wasbs://`.
- There are two containers, one for the data which is read only and one for any outputs that you generate,
  - `wasbs://campus-data@madsstorage002.blob.core.windows.net/`
  - `wasbs://campus-user@madsstorage002.blob.core.windows.net/`
- You can use variable interpolation to insert your global username variable into paths automatically.
  - This works for bash commands as well.

**Q1** First you will investigate the `daily`, `stations`, `states`, `countries`, and `inventory` data provided  in cloud storage in:
 `wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/`  
using the `hdfs` command.

**(a)** How is the data structured?

In [2]:
# Write your imports here or insert cells below

from pyspark.sql           import functions as F 
from pyspark.sql.types     import *
from pyspark.sql.functions import col
import time

In [3]:
aDaily         = f'/2025.csv.gz'
prefix         = f'wasbs://{azure_data_container_name}@{azure_account_name}.blob.core.windows.net/ghcnd/'
prefixWrite    = f'wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/'
#prefixWrite    = "./"
prefixDaily    = f'{prefix}/daily/'
dprintf(DEEBUG,prefix)
dprintf(DEEBUG,prefixWrite)
dprintf(DEEBUG,prefixDaily)
dprintf(DEEBUG,"DEEBUG = TRUE")

wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/
wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd//daily/
DEEBUG = TRUE

In [9]:
#! hdfs dfs -du -h  {prefix}
#! hdfs dfs -ls     {prefix} #structure 
#! hdfs dfs -ls     {prefixDaily} #structure 
#! HADOOP_ROOT_LOGGER="WARNING" hdfs dfs -ls wasbs://{azure_data_container_name}@{azure_account_name}.blob.core.windows.net/ghcnd/
#! HADOOP_ROOT_LOGGER="WARNING" hdfs dfs -ls wasbs://{azure_data_container_name}@{azure_account_name}.blob.core.windows.net/ghcnd/daily/

dprintf(DEEBUG,"--- PART 1")
start = time.time()
lines_ls = !hdfs dfs -ls {prefix}
parsed_ls = []

for line in lines_ls:
    line = line.strip()
    if not line or line.startswith("INFO") or line.startswith("WARN") or "Found" in line: # noise
        continue                                                                          # noise 

    parts = line.split()                   
    if len(parts) >= 2:
        perms     = parts[0]
        full_path = parts[-1]

        if perms.startswith("-") or perms.startswith("d"): # file or directory 
            rel_path = full_path.replace(prefix, '')
            parsed_ls.append((perms, rel_path))

# Print result
for perms, name in parsed_ls:
    dprintf(DEEBUG,f"{perms:<12} {name}")  #columns are aligned
stop = time.time()
dprintf(DEEBUG,f"complete in {stop - start:.2f} seconds")
dprintf(DEEBUG,"--- PART 2")
# --- PART 2:  -du -h (size info) ---
start = time.time()
lines     = !hdfs dfs -du -h  {prefix}
parsed_du = []
for line in lines:
    if line.startswith("INFO") or line.startswith("WARN"): # some noise
        continue                                           # some noise

    parts = line.split()                                  
    if len(parts) >= 5:
        size1    = f"{parts[0]} {parts[1]}"
        size2    = f"{parts[2]} {parts[3]}"
        full_path = parts[4]
    elif len(parts) >= 3:
        size1, size2, full_path = parts[0], parts[1], parts[2]
    else:
        continue

    rel_path = full_path.replace(prefix, '')
    parsed_du.append((rel_path, size1, size2))

# Print parsed_du
for name, size1, size2 in parsed_du:
    dprintf(DEEBUG,f"{name:<25} {size1:<7} {size2:<7}")

stop = time.time()
dprintf(DEEBUG,f"complete in {stop - start:.2f} seconds")
dprintf(DEEBUG,"--- PART 3 ---")
start = time.time()


!hdfs dfs -count  {prefixDaily}

stop = time.time()
dprintf(DEEBUG,f"complete in {stop - start:.2f} seconds")
dprintf(DEEBUG,"--- PART 4 ---")
start = time.time()

lines_daily = !hdfs dfs -ls {prefixDaily}
parsed_daily = []

for line in lines_daily:
    line = line.strip()

    
    if not line or "INFO" in line or "WARN" in line or "Found" in line: # Skip noise and non-data lines
        continue                                                        # Skip noise and non-data lines

    parts = line.split()
    if len(parts) == 6:  # Exact match 
        size      = parts[2]
        full_path = parts[5]
        file_name = full_path.rsplit('/', 1)[-1]
        parsed_daily.append((size, file_name))
    else:
        dprintf(DEEBUG,f"(wrong format): {line}")

# 
if parsed_daily:
    for size, name in parsed_daily:
        dprintf(DEEBUG,f"{name:<15} {size}")
else:
    dprintf(DEEBUG,"none found.")
stop = time.time()
dprintf(DEEBUG,f"complete in {stop - start:.2f} seconds")

--- PART 1
drwxrwxrwx   daily
-rwxrwxrwx   ghcnd-countries.txt
-rwxrwxrwx   ghcnd-inventory.txt
-rwxrwxrwx   ghcnd-states.txt
-rwxrwxrwx   ghcnd-stations.txt
complete in 1.72 seconds
--- PART 2
Unable                    2025-04-03 11:11:37,494 WARN util.NativeCodeLoader:
Loaded                    2025-04-03 11:11:37,759 INFO impl.MetricsConfig:
Scheduled                 2025-04-03 11:11:37,806 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-03 11:11:37,806 INFO impl.MetricsSystemImpl:
ghcnd-countries.txt       3.6 K   3.6 K
ghcnd-states.txt          1.1 K   1.1 K
ghcnd-stations.txt        10.6 M  10.6 M
daily                     13.0 G  13.0 G
ghcnd-inventory.txt       33.6 M  33.6 M
Stopping                  2025-04-03 11:11:38,851 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-03 11:11:38,851 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-03 11:11:38,851 INFO impl.MetricsSystemImpl:
complete in 2.24 seconds
--- PART 3 ---
2025-04-03 11:11:39,940 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2025-04-03 11:11:40,206 INFO impl.MetricsConfig: Loaded properties from hadoop-metrics2.properties
2025-04-03 11:11:40,253 INFO impl.MetricsSystemImpl: Scheduled Metric snapshot period at 10 second(s).
2025-04-03 11:11:40,253 INFO impl.MetricsSystemImpl: azure-file-system metrics system started
           1          264        13975887693 wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/daily
2025-04-03 11:11:40,847 INFO impl.MetricsSystemImpl: Stopping azure-file-system metrics system...
2025-04-03 11:11:40,847 INFO impl.MetricsSystemImpl: azure-file-system metrics system stopped.
2025-04-03 11:11:40,847 INFO impl.MetricsSystemImpl: azure-file-system metrics system shutdown complete.
complete in 2.10 seconds
--- PART 4 ---
1750.csv.gz     1385743
1763.csv.gz     3358
1764.csv.gz     3327
1765.csv.gz     3335
1766.csv.gz     3344
1767.csv.gz     3356
1768.csv.gz     3325
1769.csv.gz     3418
1770.csv.gz     3357
1771.csv.gz     3373
1772.csv.gz     3419
1773.csv.gz     3368
1774.csv.gz     3393
1775.csv.gz     6365
1776.csv.gz     6425
1777.csv.gz     6424
1778.csv.gz     6240
1779.csv.gz     6144
1780.csv.gz     6245
1781.csv.gz     7799
1782.csv.gz     7808
1783.csv.gz     7920
1784.csv.gz     7946
1785.csv.gz     7804
1786.csv.gz     7891
1787.csv.gz     6336
1788.csv.gz     6394
1789.csv.gz     7773
1790.csv.gz     7786
1791.csv.gz     7734
1792.csv.gz     7806
1793.csv.gz     6342
1794.csv.gz     7770
1795.csv.gz     7843
1796.csv.gz     7821
1797.csv.gz     9239
1798.csv.gz     9290
1799.csv.gz     6351
1800.csv.gz     7783
1801.csv.gz     7801
1802.csv.gz     9195
1803.csv.gz     7892
1804.csv.gz     8727
1805.csv.gz     8901
1806.csv.gz     8598
1807.csv.gz     8725
1808.csv.gz     8928
1809.csv.gz     8778
1810.csv.gz     8829
1811.csv.gz     8932
1812.csv.gz     8993
1813.csv.gz     9264
1814.csv.gz     10833
1815.csv.gz     13884
1816.csv.gz     13865
1817.csv.gz     13758
1818.csv.gz     13758
1819.csv.gz     13690
1820.csv.gz     13997
1821.csv.gz     13792
1822.csv.gz     14049
1823.csv.gz     14745
1824.csv.gz     18035
1825.csv.gz     18101
1826.csv.gz     18403
1827.csv.gz     20855
1828.csv.gz     20981
1829.csv.gz     21141
1830.csv.gz     21306
1831.csv.gz     21319
1832.csv.gz     22435
1833.csv.gz     27262
1834.csv.gz     27164
1835.csv.gz     27546
1836.csv.gz     29795
1837.csv.gz     29334
1838.csv.gz     31459
1839.csv.gz     29361
1840.csv.gz     35913
1841.csv.gz     36864
1842.csv.gz     39570
1843.csv.gz     39535
1844.csv.gz     43325
1845.csv.gz     52256
1846.csv.gz     49535
1847.csv.gz     50847
1848.csv.gz     50033
1849.csv.gz     51977
1850.csv.gz     51871
1851.csv.gz     59192
1852.csv.gz     63805
1853.csv.gz     64356
1854.csv.gz     64004
1855.csv.gz     70710
1856.csv.gz     81212
1857.csv.gz     88910
1858.csv.gz     122842
1859.csv.gz     136813
1860.csv.gz     146995
1861.csv.gz     150606
1862.csv.gz     145625
1863.csv.gz     164239
1864.csv.gz     164146
1865.csv.gz     163927
1866.csv.gz     212821
1867.csv.gz     256701
1868.csv.gz     269545
1869.csv.gz     314469
1870.csv.gz     360140
1871.csv.gz     477098
1872.csv.gz     650129
1873.csv.gz     728688
1874.csv.gz     815760
1875.csv.gz     886014
1876.csv.gz     965160
1877.csv.gz     1077970
1878.csv.gz     1274702
1879.csv.gz     1461379
1880.csv.gz     1847043
1881.csv.gz     2208841
1882.csv.gz     2512758
1883.csv.gz     2775527
1884.csv.gz     3303464
1885.csv.gz     3745027
1886.csv.gz     4102788
1887.csv.gz     4605113
1888.csv.gz     4958378
1889.csv.gz     5388271
1890.csv.gz     5878742
1891.csv.gz     6170065
1892.csv.gz     7118004
1893.csv.gz     13052983
1894.csv.gz     13929624
1895.csv.gz     15036340
1896.csv.gz     16204018
1897.csv.gz     17474772
1898.csv.gz     18225580
1899.csv.gz     18953308
1900.csv.gz     20251196
1901.csv.gz     25767142
1902.csv.gz     26736821
1903.csv.gz     27302649
1904.csv.gz     28201320
1905.csv.gz     29632148
1906.csv.gz     30289765
1907.csv.gz     31144951
1908.csv.gz     31867868
1909.csv.gz     33519209
1910.csv.gz     34622865
1911.csv.gz     35904462
1912.csv.gz     37263226
1913.csv.gz     38255770
1914.csv.gz     39485528
1915.csv.gz     40658560
1916.csv.gz     42029487
1917.csv.gz     42252301
1918.csv.gz     41304535
1919.csv.gz     40799997
1920.csv.gz     41033429
1921.csv.gz     41324111
1922.csv.gz     42113624
1923.csv.gz     42862524
1924.csv.gz     43710214
1925.csv.gz     44015966
1926.csv.gz     45226774
1927.csv.gz     46033600
1928.csv.gz     46580018
1929.csv.gz     47573559
1930.csv.gz     48987101
1931.csv.gz     50624633
1932.csv.gz     51705273
1933.csv.gz     52178613
1934.csv.gz     52521149
1935.csv.gz     53488183
1936.csv.gz     56768695
1937.csv.gz     58175289
1938.csv.gz     59344873
1939.csv.gz     61148235
1940.csv.gz     63463421
1941.csv.gz     65375485
1942.csv.gz     67537465
1943.csv.gz     68405592
1944.csv.gz     70192973
1945.csv.gz     72659632
1946.csv.gz     73148444
1947.csv.gz     74970819
1948.csv.gz     89145605
1949.csv.gz     101758958
1950.csv.gz     104856670
1951.csv.gz     108201081
1952.csv.gz     109667528
1953.csv.gz     111171866
1954.csv.gz     113330494
1955.csv.gz     115757071
1956.csv.gz     117984088
1957.csv.gz     120673205
1958.csv.gz     121914900
1959.csv.gz     124376950
1960.csv.gz     126849252
1961.csv.gz     130750539
1962.csv.gz     133559230
1963.csv.gz     136585486
1964.csv.gz     137581099
1965.csv.gz     142018261
1966.csv.gz     143937982
1967.csv.gz     145306876
1968.csv.gz     144896387
1969.csv.gz     146762160
1970.csv.gz     147692050
1971.csv.gz     142221845
1972.csv.gz     141305619
1973.csv.gz     148100923
1974.csv.gz     149378829
1975.csv.gz     148905604
1976.csv.gz     148764292
1977.csv.gz     148575501
1978.csv.gz     148815187
1979.csv.gz     149117704
1980.csv.gz     149579207
1981.csv.gz     152656825
1982.csv.gz     154508476
1983.csv.gz     155940158
1984.csv.gz     154313147
1985.csv.gz     152811879
1986.csv.gz     151770851
1987.csv.gz     151809884
1988.csv.gz     152626966
1989.csv.gz     153053088
1990.csv.gz     153157679
1991.csv.gz     153852159
1992.csv.gz     154026142
1993.csv.gz     152865318
1994.csv.gz     151844762
1995.csv.gz     151469358
1996.csv.gz     151756945
1997.csv.gz     150454010
1998.csv.gz     153494337
1999.csv.gz     156271670
2000.csv.gz     158226488
2001.csv.gz     160670036
2002.csv.gz     162275809
2003.csv.gz     165928854
2004.csv.gz     168459055
2005.csv.gz     165289423
2006.csv.gz     171894892
2007.csv.gz     174934788
2008.csv.gz     182624806
2009.csv.gz     185641000
2010.csv.gz     187293865
2011.csv.gz     177949864
2012.csv.gz     175262367
2013.csv.gz     170236479
2014.csv.gz     168607573
2015.csv.gz     171192339
2016.csv.gz     172621542
2017.csv.gz     172257484
2018.csv.gz     172359764
2019.csv.gz     171131311
2020.csv.gz     172132828
2021.csv.gz     175050475
2022.csv.gz     175205910
2023.csv.gz     174726829
2024.csv.gz     168485088
2025.csv.gz     17061071
complete in 2.04 seconds

### Q2 (a)
Schema for `daily` based on  GHCN Daily README

In [11]:
dprintf(DEEBUG,"q2(A) --- define a schema dailySchema ")

    

    
dailySchema = StructType([
    StructField("ID", StringType(), False),
    StructField("DATE", StringType(), False),
    StructField("ELEMENT", StringType(), True),
    StructField("VALUE", IntegerType(), True),
    StructField("MFLAG", StringType(), True),
    StructField("QFLAG", StringType(), True),
    StructField("SFLAG", StringType(), True),
    StructField("OBS_TIME", StringType(), True)
])

dprintf(DEEBUG,"q2(B) --- Load a small subset of daily (e.g. 2024)")
dailyPath = f"{prefixDaily}2024.csv.gz"
if DEEBUG:
    rawDaily = spark.read.text(dailyPath)
    dprintf(1,rawDaily.show(5, truncate=False))
dailydf   = spark.read.csv(dailyPath, schema=dailySchema, header=False)
  
dprintf(DEEBUG,"What data types?")
dailydf.printSchema()
dhtmlf(DEEBUG,dailydf.limit(5))
nNotNull = dailydf.select(
    F.count(col("MFLAG").isNotNull().cast("int")).alias("MFLAG_count"),
    F.count(col("QFLAG").isNotNull().cast("int")).alias("QFLAG_count"),
    F.count(col("OBS_TIME").isNotNull().cast("int")).alias("OBS_TIME_count")
)
nRows = dailydf.count()
dprintf(DEEBUG,f"Total number of rows in dailydf: {nRows}")
dprintf(DEEBUG,nNotNull.show())

q2(A) --- define a schema dailySchema
q2(B) --- Load a small subset of daily (e.g. 2024)

+--------------------------------+
|value                           |
+--------------------------------+
|ASN00037091,20240101,PRCP,0,,,a,|
|ASN00037098,20240101,PRCP,0,,,a,|
|ASN00037104,20240101,PRCP,0,,,a,|
|ASN00037105,20240101,PRCP,0,,,a,|
|ASN00037106,20240101,PRCP,0,,,a,|
+--------------------------------+
only showing top 5 rows

None
What data types?
root
 |-- ID: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- VALUE: integer (nullable = true)
 |-- MFLAG: string (nullable = true)
 |-- QFLAG: string (nullable = true)
 |-- SFLAG: string (nullable = true)
 |-- OBS_TIME: string (nullable = true)

            ID      DATE ELEMENT  VALUE MFLAG QFLAG SFLAG OBS_TIME
0  ASN00037091  20240101    PRCP      0  None  None     a     None
1  ASN00037098  20240101    PRCP      0  None  None     a     None
2  ASN00037104  20240101    PRCP      0  None  None     a     None
3  ASN00037105  20240101    PRCP      0  None  None     a     None
4  ASN00037106  20240101    PRCP      0  None  None     a     None

Total number of rows in dailydf: 36477055

[Stage 5:>                                                          (0 + 1) / 1]

+-----------+-----------+--------------+
|MFLAG_count|QFLAG_count|OBS_TIME_count|
+-----------+-----------+--------------+
|   36477055|   36477055|      36477055|
+-----------+-----------+--------------+

None

In [12]:
from pyspark.sql.functions import col, substring, trim


pathCountries = f"{prefix}ghcnd-countries.txt"
rawCountries = spark.read.text(pathCountries)
pqtCountries = f"{prefixWrite}enriched-countries"
dprintf(DEEBUG,pqtCountries)
dprintf(DEEBUG, rawCountries.show(5, truncate=False))

dprintf(DEEBUG,"Parse columns by fixed positions")
countriesdf = rawCountries.select(
    trim(substring("value", 1, 2)).alias("CODE"),
    trim(substring("value", 4, 50)).alias("COUNTRY_NAME")
)
dhtmlf(DEEBUG,countriesdf.limit(5))

dprintf(DEEBUG,"Write parsed countriesdf to blob storage as parquet")
#countriesdf.write.mode("overwrite").parquet(pqtCountries)

wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/enriched-countries
+------------------------+
|value                   |
+------------------------+
|AC Antigua and Barbuda  |
|AE United Arab Emirates |
|AF Afghanistan          |
|AG Algeria              |
|AJ Azerbaijan           |
+------------------------+
only showing top 5 rows

None
Parse columns by fixed positions

  CODE          COUNTRY_NAME
0   AC   Antigua and Barbuda
1   AE  United Arab Emirates
2   AF           Afghanistan
3   AG               Algeria
4   AJ            Azerbaijan

Write parsed countriesdf to blob storage as parquet

In [16]:
from pyspark.sql.functions import col, substring, trim, upper

dprintf(DEEBUG, "Q2(B) rawStations")
pathStations = f"{prefix}ghcnd-stations.txt"
rawStationsdf = spark.read.text(pathStations)
pqtStations = f"{prefixWrite}enriched-stations"
print(pqtStations)

 

dprintf(DEEBUG, "Q2(B) rawStationsdf ")    
dprintf(DEEBUG, rawStationsdf.show(5, truncate=False))
dprintf(DEEBUG, "Q2(B) stationsdf - parsed")
stationsdf = rawStationsdf.select(  #DEE:
    trim(substring("value", 1, 11)).alias("ID"),
    trim(substring("value", 13, 8)).cast("double").alias("LATITUDE"),
    trim(substring("value", 22, 8)).cast("double").alias("LONGITUDE"),
    trim(substring("value", 31, 6)).cast("double").alias("ELEVATION"),
    trim(substring("value", 39, 2)).alias("STATE"),
    trim(substring("value", 42, 30)).alias("NAME"),
    trim(substring("value", 72, 3)).alias("GSNFLAG"),
    trim(substring("value", 75, 3)).alias("HCNFLAG"),
    trim(substring("value", 80, 5)).alias("WMOID")
)
dhtmlf(DEEBUG, stationsdf.limit(5))

dprintf(DEEBUG, "Q2(B) Write parsed stationsdf to blob storage as Parquet")
#stationsdf.write.mode("overwrite").parquet(pqtStations)

Q2(B) rawStations
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/enriched-stations
Q2(B) rawStationsdf
+-------------------------------------------------------------------------------------+
|value                                                                                |
+-------------------------------------------------------------------------------------+
|ACW00011604  17.1167  -61.7833   10.1    ST JOHNS COOLIDGE FLD                       |
|ACW00011647  17.1333  -61.7833   19.2    ST JOHNS                                    |
|AE000041196  25.3330   55.5170   34.0    SHARJAH INTER. AIRP            GSN     41196|
|AEM00041194  25.2550   55.3640   10.4    DUBAI INTL                             41194|
|AEM00041217  24.4330   54.6510   26.8    ABU DHABI INTL                         41217|
+-------------------------------------------------------------------------------------+
only showing top 5 rows

None
Q2(B) stationsdf - parsed

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,N,4119
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121

Q2(B) Write parsed stationsdf to blob storage as Parquet

In [17]:
#from pyspark.sql.functions import col, substring, trim

dprintf(DEEBUG,"Q2(C) rawInventory")
pathInventory = f"{prefix}ghcnd-inventory.txt"
rawInventory = spark.read.text(pathInventory)
pqtInventory = f"{prefixWrite}enriched-inventory"
dprintf(DEEBUG,pqtInventory)
dprintf(DEEBUG, rawInventory.show(5, truncate=False))



dprintf(DEEBUG,"Parse columns by fixed positions")
inventorydf = rawInventory.select(
    trim(substring("value", 1, 11)).alias("ID"),
    trim(substring("value", 13, 9)).cast("double").alias("LATITUDE"),
    trim(substring("value", 22, 10)).cast("double").alias("LONGITUDE"),
    trim(substring("value", 32, 4)).alias("ELEMENT"),
    trim(substring("value", 37, 4)).cast("int").alias("FIRSTYEAR"),
    trim(substring("value", 42, 4)).cast("int").alias("LASTYEAR")
)
dhtmlf(DEEBUG,inventorydf.limit(5))

dprintf(DEEBUG,"Write parsed inventorydf to blob storage as parquet")
#inventorydf.write.mode("overwrite").parquet(pqtInventory)

Q2(C) rawInventory
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/enriched-inventory
+---------------------------------------------+
|value                                        |
+---------------------------------------------+
|ACW00011604  17.1167  -61.7833 TMAX 1949 1949|
|ACW00011604  17.1167  -61.7833 TMIN 1949 1949|
|ACW00011604  17.1167  -61.7833 PRCP 1949 1949|
|ACW00011604  17.1167  -61.7833 SNOW 1949 1949|
|ACW00011604  17.1167  -61.7833 SNWD 1949 1949|
+---------------------------------------------+
only showing top 5 rows

None
Parse columns by fixed positions

            ID  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
0  ACW00011604   17.1167   -61.7833    TMAX       1949      1949
1  ACW00011604   17.1167   -61.7833    TMIN       1949      1949
2  ACW00011604   17.1167   -61.7833    PRCP       1949      1949
3  ACW00011604   17.1167   -61.7833    SNOW       1949      1949
4  ACW00011604   17.1167   -61.7833    SNWD       1949      1949

Write parsed inventorydf to blob storage as parquet

In [18]:


dprintf(DEEBUG,"Q2(C) rawStates")
pathStates = f"{prefix}ghcnd-states.txt"
rawStates = spark.read.text(pathStates)
pqtStates = f"{prefixWrite}enriched-states"
dprintf(DEEBUG,pqtStates)
dprintf(DEEBUG, rawStates.show(5, truncate=False))




dprintf(DEEBUG,"rawStates Parse columns by fixed positions")
statesdf = rawStates.select(
    trim(substring("value", 1, 2)).alias("CODE"),
    trim(substring("value", 4, 50)).alias("STATE_NAME")
)
dhtmlf(DEEBUG,statesdf.limit(5))

dprintf(DEEBUG,"Write parsed statesdf to blob storage as parquet")
#statesdf.write.mode("overwrite").parquet(pqtStates)

Q2(C) rawStates
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/enriched-states
+--------------------------------------------------+
|value                                             |
+--------------------------------------------------+
|AB ALBERTA                                        |
|AK ALASKA                                         |
|AL ALABAMA                                        |
|AR ARKANSAS                                       |
|AS AMERICAN SAMOA                                 |
+--------------------------------------------------+
only showing top 5 rows

None
rawStates Parse columns by fixed positions

  CODE      STATE_NAME
0   AB         ALBERTA
1   AK          ALASKA
2   AL         ALABAMA
3   AR        ARKANSAS
4   AS  AMERICAN SAMOA

Write parsed statesdf to blob storage as parquet

In [19]:
# Parse stations
dprintf(DEEBUG,"Q3(B) STATIONS AND COUNTRIES rawStation")

dprintf(DEEBUG,"Q3(B) stationsdf - WITH COUNTRY_CODE")
dhtmlf(DEEBUG,stationsdf.limit(5))
stationsCodedf = stationsdf.withColumn("COUNTRY_CODE", substring("ID", 1, 2))
dhtmlf(DEEBUG,stationsCodedf.limit(5))

dprintf(DEEBUG,"Q3(B) countriesdf")
dhtmlf(DEEBUG,countriesdf.limit(5))


dprintf(DEEBUG,"Q3(B) stationsdf - JOIN BY COUNTRY_CODE")
stationsCodedf = stationsCodedf.join(
    countriesdf,
    stationsCodedf["COUNTRY_CODE"] == countriesdf["CODE"],
    how="left"
).drop(countriesdf["CODE"])
dhtmlf(DEEBUG,stationsCodedf.limit(5))

Q3(B) STATIONS AND COUNTRIES rawStation
Q3(B) stationsdf - WITH COUNTRY_CODE

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,N,4119
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID,COUNTRY_CODE
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,,AC
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,,AC
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,N,4119,AE
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119,AE
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121,AE

Q3(B) countriesdf

  CODE          COUNTRY_NAME
0   AC   Antigua and Barbuda
1   AE  United Arab Emirates
2   AF           Afghanistan
3   AG               Algeria
4   AJ            Azerbaijan

Q3(B) stationsdf - JOIN BY COUNTRY_CODE

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID,COUNTRY_CODE,COUNTRY_NAME
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,,AC,Antigua and Barbuda
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,,AC,Antigua and Barbuda
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,N,4119,AE,United Arab Emirates
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119,AE,United Arab Emirates
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121,AE,United Arab Emirates

In [20]:
from pyspark.sql.functions import col, trim, upper

dprintf(DEEBUG,"Q3(C) stationsdf - JOIN BY STATE_CODE")

# Clean station states
dprintf(DEEBUG,"countriesdf")
dhtmlf(DEEBUG,  countriesdf.limit(5))


dprintf(DEEBUG,"stationsdf")
dhtmlf(DEEBUG, stationsdf.limit(5))
stationStateClean = stationsdf \
    .filter(trim(col("STATE")) != "") \
    .withColumn("STATE_CLEAN", upper(trim(col("STATE"))))



dprintf(DEEBUG,"stationStateClean")
dhtmlf(DEEBUG, stationStateClean.limit(5))


dprintf(DEEBUG,"Q3(C) statesdf")
dhtmlf(DEEBUG,statesdf.limit(5))



dprintf(DEEBUG,"Q3(C) stationStatedf - JOIN BY STATE_CLEAN")

# Perform join with states
stationStatedf = stationStateClean.join(
    statesdf,
    stationStateClean["STATE_CLEAN"] == statesdf["CODE"],
    how="left"
).drop("STATE_CLEAN")

dhtmlf(DEEBUG, stationStatedf.limit(5))

Q3(C) stationsdf - JOIN BY STATE_CODE
countriesdf

  CODE          COUNTRY_NAME
0   AC   Antigua and Barbuda
1   AE  United Arab Emirates
2   AF           Afghanistan
3   AG               Algeria
4   AJ            Azerbaijan

stationsdf

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,N,4119
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121

stationStateClean

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID,STATE_CLEAN
0,AQC00914000,-14.3167,-170.766,408.0,AS,AASUFOU,,,,AS
1,AQC00914005,-14.2667,-170.650,182.0,AS,AFONO,,,,AS
2,AQC00914021,-14.2667,-170.583,6.0,AS,AMOULI TUTUILA,,,,AS
3,AQC00914060,-14.2667,-170.683,80.0,AS,ATUU,,,,AS
4,AQC00914135,-14.3000,-170.700,249.0,AS,FAGA ALU RSVR,,,,AS

Q3(C) statesdf

  CODE      STATE_NAME
0   AB         ALBERTA
1   AK          ALASKA
2   AL         ALABAMA
3   AR        ARKANSAS
4   AS  AMERICAN SAMOA

Q3(C) stationStatedf - JOIN BY STATE_CLEAN

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID,CODE,STATE_NAME
0,AQC00914000,-14.3167,-170.766,408.0,AS,AASUFOU,,,,AS,AMERICAN SAMOA
1,AQC00914005,-14.2667,-170.650,182.0,AS,AFONO,,,,AS,AMERICAN SAMOA
2,AQC00914021,-14.2667,-170.583,6.0,AS,AMOULI TUTUILA,,,,AS,AMERICAN SAMOA
3,AQC00914060,-14.2667,-170.683,80.0,AS,ATUU,,,,AS,AMERICAN SAMOA
4,AQC00914135,-14.3000,-170.700,249.0,AS,FAGA ALU RSVR,,,,AS,AMERICAN SAMOA

In [21]:
dprintf(1,"Q3(D) what was the first and last year that each station was active and collected any element at all?")

# Keep only one row per station ID
dprintf(DEEBUG, "Filter inventorydf to one entry per station ID (any element)")
inventorydf

dprintf(DEEBUG,"inventorydf")
dhtmlf(DEEBUG, inventorydf.limit(5))
inventorySingle = inventorydf.dropDuplicates(["ID"])

dprintf(DEEBUG,"inventorySingle")
dhtmlf(DEEBUG, inventorySingle.limit(5))

Q3(D) what was the first and last year that each station was active and collected any element at all?
Filter inventorydf to one entry per station ID (any element)
inventorydf

            ID  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
0  ACW00011604   17.1167   -61.7833    TMAX       1949      1949
1  ACW00011604   17.1167   -61.7833    TMIN       1949      1949
2  ACW00011604   17.1167   -61.7833    PRCP       1949      1949
3  ACW00011604   17.1167   -61.7833    SNOW       1949      1949
4  ACW00011604   17.1167   -61.7833    SNWD       1949      1949

inventorySingle

            ID  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
0  AEM00041217    24.433    54.6510    TMAX       1983      2025
1  AF000040930    35.317    69.0170    TMAX       1973      1992
2  AFM00040990    31.500    65.8500    TMAX       1973      2020
3  AG000060680    22.800     5.4331    TMAX       1940      2004
4  AGE00147704    36.970     7.7900    TMAX       1909      1937

In [22]:
dprintf(1,"Q3(D) How many different elements has each station collected overall?")

from pyspark.sql import functions as F


dprintf(DEEBUG,"inventorydf")
dhtmlf(DEEBUG, inventorydf.limit(5))

# Group by ID and count distinct ELEMENTs
nStationElementdf = inventorydf.groupBy("ID") \
    .agg(F.countDistinct("ELEMENT").alias("NUM_ELEMENTS"))

dprintf(DEEBUG,"nStationElementdf")
dhtmlf(DEEBUG, nStationElementdf.limit(5))

Q3(D) How many different elements has each station collected overall?
inventorydf

            ID  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
0  ACW00011604   17.1167   -61.7833    TMAX       1949      1949
1  ACW00011604   17.1167   -61.7833    TMIN       1949      1949
2  ACW00011604   17.1167   -61.7833    PRCP       1949      1949
3  ACW00011604   17.1167   -61.7833    SNOW       1949      1949
4  ACW00011604   17.1167   -61.7833    SNWD       1949      1949

nStationElementdf

            ID  NUM_ELEMENTS
0  USC00016847            13
1  USC00017126             5
2  USC00017999            16
3  USC00018469            16
4  USC00018980             8

In [23]:
dprintf(1,"Q3(D) count separately the number of core elements and the number of OTHER elements that each station has collected overall.?")

core_elements = ["TMIN", "TMAX", "PRCP", "SNOW", "SNWD"]  # Define what counts as core

classifiedInventory = inventorydf.withColumn(
    "ELEMENT_TYPE",                              # New column name
    F.when(                                      # Conditional expression
        F.col("ELEMENT").isin(core_elements),    # If ELEMENT is in the core list
        "CORE"                                   # Then label as "CORE"
    ).otherwise("OTHER")                         # Else label as "OTHER"
)


dprintf(DEEBUG,"classifiedInventory")
dhtmlf(DEEBUG, classifiedInventory.limit(5))

nStationElements = classifiedInventory.groupBy(
    "ID",                   # Group by station IDb
    "ELEMENT_TYPE"          # And by the classified element type: CORE or OTHER
).agg(
    F.countDistinct("ELEMENT")  # Count how many distinct ELEMENTs
    .alias("COUNT")             # Rename the result column to COUNT
)

Q3(D) count separately the number of core elements and the number of OTHER elements that each station has collected overall.?
classifiedInventory

            ID  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR ELEMENT_TYPE
0  ACW00011604   17.1167   -61.7833    TMAX       1949      1949         CORE
1  ACW00011604   17.1167   -61.7833    TMIN       1949      1949         CORE
2  ACW00011604   17.1167   -61.7833    PRCP       1949      1949         CORE
3  ACW00011604   17.1167   -61.7833    SNOW       1949      1949         CORE
4  ACW00011604   17.1167   -61.7833    SNWD       1949      1949         CORE

In [81]:

from pyspark.sql.functions import col
dprintf(DEEBUG,"classifiedInventory")
dhtmlf(DEEBUG, classifiedInventory.limit(5))

nStationElementdf = classifiedInventory.withColumn("COUNT", lit(1))
nStationElementdf = nStationElementdf.groupBy(
    "ID"                      # Group by station ID
).pivot(
    "ELEMENT_TYPE",           # Pivot on ELEMENT_TYPE
    ["CORE", "OTHER"]         # CORE/OTHER classification
).sum(
    "COUNT"                   # Now we can sum the COUNT column we created
)
nStationElementdf = nStationElementdf.fillna(0)
dprintf(DEEBUG,"nStationElementdf")
dhtmlf(DEEBUG, nStationElementdf.limit(5))

classifiedInventory

,ID,LATITUDE,LONGITUDE,ELEMENT,FIRSTYEAR,LASTYEAR,ELEMENT_TYPE,COUNT
0,ACW00011604,17.1167,-61.7833,TMAX,1949,1949,CORE,1
1,ACW00011604,17.1167,-61.7833,TMIN,1949,1949,CORE,1
2,ACW00011604,17.1167,-61.7833,PRCP,1949,1949,CORE,1
3,ACW00011604,17.1167,-61.7833,SNOW,1949,1949,CORE,1
4,ACW00011604,17.1167,-61.7833,SNWD,1949,1949,CORE,1

nStationElementdf

            ID  CORE  OTHER
0  USC00017126     3      2
1  USC00018605     3      5
2  USC00022109     5     10
3  USC00023144     5     10
4  USC00023498     5     15

In [83]:
dprintf(DEEBUG, "Q3(D) Count stations that collect all five core elements")

# Filter to stations with 5 core elements
coreStations = nStationElementdf.filter(
    F.col("CORE") == 5
)

# Count them
num_stations_all_core = coreStations.count()

# Show result
print("Number of stations collecting all five core elements:", num_stations_all_core)

Q3(D) Count stations that collect all five core elements

[Stage 382:============================>                            (1 + 1) / 2]

Number of stations collecting all five core elements: 20504

In [87]:
dprintf(DEEBUG, "Q3(D) Count stations that collect only precipitation and nothing else")


prcpStations = inventorydf.groupBy(                  #Group inventory by station ID
    "ID"  # Group by station identifier
).agg(    F.collect_set("ELEMENT").alias("ELEMENTS") ) # Collect all unique element types into a set

prcpStations = prcpStations.filter(                 #ELEMENTS set contains exactly one value
    F.size("ELEMENTS") == 1)                            # Only one unique element recorded


# Step 3: Ensure that one element is "PRCP"
prcpStations = prcpStations.filter(
    F.array_contains(F.col("ELEMENTS"), "PRCP")  # That one element must be "PRCP"
)

# Step 4: Count how many such stations exist
nPrcpStations = prcpStations.count()

# Step 5: Output the result
print("Number of stations collecting only PRCP:", nPrcpStations)

Q3(D) Count stations that collect only precipitation and nothing else

[Stage 427:============================>                            (1 + 1) / 2]

Number of stations collecting only PRCP: 16313

In [ ]:
from pyspark.sql.functions import col

dprintf(DEEBUG, "Q4(A) Load subset of daily data")

dailyPath = f"{prefixDaily}2024.csv.gz"
dprintf(DEEBUG, dailyPath)
if DEEBUG:
    rawDaily = spark.read.text(dailyPath)
    dprintf(1,rawDaily.show(5, truncate=False))
dailydf   = spark.read.csv(dailyPath, schema=dailySchema, header=False)


dprintf(DEEBUG,f"{dailydf}")
dhtmlf(DEEBUG, dailydf.limit(5))
nRows = dailydf.count()
dprintf(DEEBUG,f"count dailydf: {dailydf.count()}")
smallDailydf = dailydf.limit(1000)
dprintf(DEEBUG,f"count smallDailydf: {smallDailydf.count()}")


dprintf(DEEBUG, "Q4(A) LEFT JOIN dailydf with stationEnriched")

dprintf(DEEBUG,f"smallDailydf")
dhtmlf(DEEBUG, smallDailydf.limit(5))

dprintf(DEEBUG,f"stationEnriched")
dhtmlf(DEEBUG, stationEnriched.limit(5))
# Perform LEFT JOIN on station ID
dailyStation = smallDailydf.join(
    stationEnriched,
    on="ID",      # Join key: station ID
    how="left_anti"    # Keep all daily records, even if station info is missing
)

dprintf(DEEBUG,f"dailyStation")
dhtmlf(DEEBUG, dailyStation.limit(5))

In [118]:


dprintf(DEEBUG, "Q3(E) Join stationStatedf with station_element_counts")
pqtstationEnriched = f"{prefixWrite}enriched-STATION"
dprintf(DEEBUG,pqtstationEnriched)
# Perform LEFT JOIN on station ID to attach element count data
stationEnriched = stationStatedf.join(
    station_element_counts,
    on="ID",         # Join key: station ID
    how="left"       # Retain all station metadata, even if no element info exists
)

dhtmlf(DEEBUG, stationEnriched.limit(5))
s = f'Write join of stationStatedf and stationEnriched (count = {stationEnriched.count()}) as parquet:{pqtstationEnriched}'
dprintf(DEEBUG,s)
if not 0:   
    start = time.time()
    stationEnriched.write.mode("overwrite").parquet(pqtstationEnriched)
    stop  = time.time()
    print(pqtstationEnriched)
    print(f"written in {stop - start:.2f} seconds")
else:
    print(f"DEEBUG: Not writing {pqtstationEnriched}")

Q3(E) Join stationStatedf with station_element_counts
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/enriched-STATION

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID,CODE,STATE_NAME,NUM_ELEMENTS
0,AQC00914021,-14.2667,-170.583,6.0,AS,AMOULI TUTUILA,,,,AS,AMERICAN SAMOA,10
1,AQC00914060,-14.2667,-170.683,80.0,AS,ATUU,,,,AS,AMERICAN SAMOA,5
2,AQC00914005,-14.2667,-170.650,182.0,AS,AFONO,,,,AS,AMERICAN SAMOA,5
3,AQC00914135,-14.3000,-170.700,249.0,AS,FAGA ALU RSVR,,,,AS,AMERICAN SAMOA,5
4,AQC00914000,-14.3167,-170.766,408.0,AS,AASUFOU,,,,AS,AMERICAN SAMOA,5

Write join of stationStatedf and stationEnriched (count = 85668) as parquet:wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/enriched-STATION

wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/enriched-STATION
completed in 3.15 seconds
written

25/04/03 10:52:24 WARN AzureFileSystemThreadPoolExecutor: Disabling threads for Delete operation as thread count 0 is <= 1

In [61]:

dprintf(DEEBUG, "Q4(B) Count distinct daily station IDs not present in stationEnriched")


daily_station_ids = smallDailydf.select("ID").distinct()

Q4(B) Count distinct daily station IDs not present in stationEnriched

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `COUNTRY_NAME` cannot be resolved. Did you mean one of the following? [`STATE_NAME`, `NAME`, `OBS_TIME`, `CORE`, `GSNFLAG`].;
'Filter isnull('COUNTRY_NAME)
+- Project [ID#2057, DATE#2058, ELEMENT#2059, VALUE#2060, MFLAG#2061, QFLAG#2062, SFLAG#2063, OBS_TIME#2064, LATITUDE#759, LONGITUDE#760, ELEVATION#761, STATE#762, NAME#763, GSNFLAG#764, HCNFLAG#765, WMOID#766, CODE#749, STATE_NAME#750, CORE#1086L, OTHER#1087L]
   +- Join LeftOuter, (ID#2057 = ID#758)
      :- Relation [ID#2057,DATE#2058,ELEMENT#2059,VALUE#2060,MFLAG#2061,QFLAG#2062,SFLAG#2063,OBS_TIME#2064] csv
      +- Project [ID#758, LATITUDE#759, LONGITUDE#760, ELEVATION#761, STATE#762, NAME#763, GSNFLAG#764, HCNFLAG#765, WMOID#766, CODE#749, STATE_NAME#750, CORE#1086L, OTHER#1087L]
         +- Join LeftOuter, (ID#758 = ID#732)
            :- Project [ID#758, LATITUDE#759, LONGITUDE#760, ELEVATION#761, STATE#762, NAME#763, GSNFLAG#764, HCNFLAG#765, WMOID#766, CODE#749, STATE_NAME#750]
            :  +- Join LeftOuter, (STATE_CLEAN#828 = CODE#749)
            :     :- Project [ID#758, LATITUDE#759, LONGITUDE#760, ELEVATION#761, STATE#762, NAME#763, GSNFLAG#764, HCNFLAG#765, WMOID#766, upper(trim(STATE#762, None)) AS STATE_CLEAN#828]
            :     :  +- Filter NOT (trim(STATE#762, None) = )
            :     :     +- Project [trim(substring(value#755, 1, 11), None) AS ID#758, cast(trim(substring(value#755, 13, 8), None) as double) AS LATITUDE#759, cast(trim(substring(value#755, 22, 8), None) as double) AS LONGITUDE#760, cast(trim(substring(value#755, 31, 6), None) as double) AS ELEVATION#761, trim(substring(value#755, 39, 2), None) AS STATE#762, trim(substring(value#755, 42, 30), None) AS NAME#763, trim(substring(value#755, 72, 3), None) AS GSNFLAG#764, trim(substring(value#755, 75, 3), None) AS HCNFLAG#765, trim(substring(value#755, 78, 5), None) AS WMOID#766]
            :     :        +- Relation [value#755] text
            :     +- Project [trim(substring(value#746, 1, 2), None) AS CODE#749, trim(substring(value#746, 4, 50), None) AS STATE_NAME#750]
            :        +- Relation [value#746] text
            +- Project [ID#732, __pivot_sum(COUNT) AS `sum(COUNT)`#1085[0] AS CORE#1086L, __pivot_sum(COUNT) AS `sum(COUNT)`#1085[1] AS OTHER#1087L]
               +- Aggregate [ID#732], [ID#732, pivotfirst(ELEMENT_TYPE#1045, sum(COUNT)#1079L, CORE, OTHER, 0, 0) AS __pivot_sum(COUNT) AS `sum(COUNT)`#1085]
                  +- Aggregate [ID#732, ELEMENT_TYPE#1045], [ID#732, ELEMENT_TYPE#1045, sum(COUNT#1061L) AS sum(COUNT)#1079L]
                     +- Aggregate [ID#732, ELEMENT_TYPE#1045], [ID#732, ELEMENT_TYPE#1045, count(distinct ELEMENT#735) AS COUNT#1061L]
                        +- Project [ID#732, LATITUDE#733, LONGITUDE#734, ELEMENT#735, FIRSTYEAR#736, LASTYEAR#737, CASE WHEN ELEMENT#735 IN (TMIN,TMAX,PRCP,SNOW,SNWD) THEN CORE ELSE OTHER END AS ELEMENT_TYPE#1045]
                           +- Project [trim(substring(value#729, 1, 11), None) AS ID#732, cast(trim(substring(value#729, 13, 9), None) as double) AS LATITUDE#733, cast(trim(substring(value#729, 22, 10), None) as double) AS LONGITUDE#734, trim(substring(value#729, 32, 4), None) AS ELEMENT#735, cast(trim(substring(value#729, 37, 4), None) as int) AS FIRSTYEAR#736, cast(trim(substring(value#729, 42, 4), None) as int) AS LASTYEAR#737]
                              +- Relation [value#729] text

In [ ]:
# Load and count each
paths = {
    "stations":  f"{prefix}ghcnd-stations.txt",
    "states":    f"{prefix}ghcnd-states.txt",
    "countries": f"{prefix}ghcnd-countries.txt",
    "inventory": f"{prefix}ghcnd-inventory.txt"
}

for name, path in paths.items():
    df = spark.read.text(path)
    df.printSchema()
    dprintf(DEEBUG,f"{name}: {df.count()} rows")

In [ ]:
spark.range(1).show()

In [ ]:
# --- Inventory Cell ---
stationsPath = f"{prefix}ghcnd-stations.txt"
inventoryPath = f"{prefix}ghcnd-inventory.txt"

dprintf(DEEBUG,stationsPath)
dprintf(DEEBUG,inventoryPath)
      
rawStationsdf  = spark.read.text(stationsPath)
rawInventorydf = spark.read.text(inventoryPath)

dprintf(DEEBUG,"rawStationsdf")
dhtmlf(DEEBUG,rawStationsdf.limit(5))
dprintf(DEEBUG,"rawInventorydf")
dhtmlf(DEEBUG,rawInventorydf.limit(5))


# Parse inventory file: ID, LAT, LON, ELEMENT, FIRSTYEAR, LASTYEAR
inventorydf = rawInventorydf.select(
    trim(substring("value", 1, 11)).alias("ID"),
    trim(substring("value", 13, 9)).cast("double").alias("LATITUDE"),
    trim(substring("value", 22, 10)).cast("double").alias("LONGITUDE"),
    trim(substring("value", 33, 4)).alias("ELEMENT"),
    trim(substring("value", 37, 4)).cast("int").alias("FIRSTYEAR"),
    trim(substring("value", 42, 4)).cast("int").alias("LASTYEAR")
)
dprintf(DEEBUG,"inventorydf")
dhtmlf(DEEBUG,inventorydf.limit(5))

dprintf(DEEBUG,"inventorydf:-LATITUDE")
dhtmlf(DEEBUG,inventorydf.filter(col("LATITUDE") < 0).limit(5))

dprintf(DEEBUG,"inventorydf:-LONGITUDE")
dhtmlf(DEEBUG,inventorydf.filter(col("LONGITUDE") < 0).limit(5))

# Diagnose ELEMENT parsing
element_check = inventorydf.select(trim(col("ELEMENT")).alias("ELEMENT")).distinct()
dprintf(DEEBUG,"element_check:ELEMENT")
dhtmlf(DEEBUG,element_check.orderBy("ELEMENT"))

# Count distinct elements per station
station_element_counts = inventorydf.groupBy("ID").agg(
    F.countDistinct("ELEMENT").alias("NUM_ELEMENTS")
)
dprintf(DEEBUG,"station_element_counts:ID")
dhtmlf(DEEBUG,station_element_counts.orderBy("ID").limit(10))

dprintf(DEEBUG,"Total number of elements across all stations")
total_element_count = station_element_counts.agg(
    F.sum("NUM_ELEMENTS").alias("TOTAL_ELEMENTS")
)
dprintf(DEEBUG,"total_element_count")
dhtmlf(DEEBUG,total_element_count)

In [27]:
dprintf(DEEBUG,"Rename columns and assign the result back")

dprintf(DEEBUG,"station_element_counts:CORE = NUM_CORE_ELEMENTS,OTHER = NUM_OTHER_ELEMENTS")
station_element_counts = station_element_counts \
    .withColumnRenamed("CORE", "NUM_CORE_ELEMENTS") \
    .withColumnRenamed("OTHER", "NUM_OTHER_ELEMENTS")

dhtmlf(DEEBUG,station_element_counts.limit(5))
dprintf(DEEBUG,"total_element_count")

# Add column for total number of elements
#station_element_counts = station_element_counts.withColumn(
#    "NUM_ELEMENTS",
#    F.col("NUM_CORE_ELEMENTS") + F.col("NUM_OTHER_ELEMENTS")
#)

# Preview the result
dhtmlf(DEEBUG,station_element_counts.limit(5))

# Add column for total number of elements
total_element_count = station_element_counts.agg(
    F.sum("NUM_ELEMENTS").alias("TOTAL_ELEMENTS")
)

# Preview the result
dhtmlf(DEEBUG,total_element_count)

Rename columns and assign the result back
station_element_counts:CORE = NUM_CORE_ELEMENTS,OTHER = NUM_OTHER_ELEMENTS

            ID  NUM_ELEMENTS
0  AGE00147708             5
1  AGM00060511             5
2  AJ000037679             1
3  AM000037774             5
4  AM000037897             5

total_element_count

            ID  NUM_ELEMENTS
0  USC00016329             9
1  USC00017126             5
2  USC00017576            11
3  USC00018980             8
4  USC00020098             3

   TOTAL_ELEMENTS
0          765258

In [ ]:
from pyspark.sql.functions import col, substring, lit, trim, upper, min as spark_min, max as spark_max

# Reference paths from GHCN
statesPath = f"{prefix}ghcnd-states.txt"
countriesPath = f"{prefix}ghcnd-countries.txt"
stationsPath = f"{prefix}ghcnd-stations.txt"
inventoryPath = f"{prefix}ghcnd-inventory.txt"

# Load metadata
rawStatedf = spark.read.text(statesPath)
rawCountriesdf = spark.read.text(countriesPath)
#rawStationsdf = spark.read.text(stationsPath)
#rawInventorydf = spark.read.text(inventoryPath)

dhtmlf(DEEBUG,statesdf.limit(5))
dhtmlf(DEEBUG,countriesdf.limit(5))
dhtmlf(DEEBUG,rawStationsdf.limit(5))
dhtmlf(DEEBUG,rawInventorydf.limit(5))

# Parse states
statesdf = statesdf.select(
    trim(substring("value", 1, 2)).alias("CODE"),
    trim(substring("value", 4, 50)).alias("STATE_NAME")
)
dhtmlf(DEEBUG,statesdf.limit(5))

# Parse countries
#countriesdf = countriesdf.select(DEE
#    trim(substring("value", 1, 2)).alias("CODE"),
#    trim(substring("value", 4, 50)).alias("COUNTRY_NAME")
#)
#dhtmlf(DEEBUG,countriesdf.limit(5))

a

# Separate US and non-US
us_stations = station_country_joined.filter(col("COUNTRY_CODE") == "US")
non_us_stations = station_country_joined.filter(col("COUNTRY_CODE") != "US") \
    .withColumn("STATE_NAME", lit(None).cast("string"))
dhtmlf(DEEBUG,us_stations.limit(5))

# Join US stations with states
us_stations_clean = us_stations.withColumn("STATE_CLEAN", upper(trim(col("STATE"))))
dhtmlf(DEEBUG,us_stations_clean.limit(5))

us_stations_joined = us_stations_clean.join(
    statesdf,
    trim(us_stations_clean["STATE_CLEAN"]) == trim(statesdf["CODE"]),
    how="left"
).drop("STATE_CLEAN", statesdf["CODE"])
dhtmlf(DEEBUG,us_stations_joined.limit(5))

# Merge
stations_full = us_stations_joined.unionByName(non_us_stations)
dhtmlf(DEEBUG,stations_full.limit(5))

# Final preview
stations_select = stations_full.select("ID", "COUNTRY_CODE", "COUNTRY_NAME", "STATE", "STATE_NAME")
stations_select.orderBy("COUNTRY_CODE", "STATE", "ID").show(10, truncate=False)
dhtmlf(DEEBUG,stations_select.limit(5))

In [22]:
# --- Q4(a): Check for missing stations in daily ---

# Perform LEFT JOIN between daily and stations_enriched (from Q3e)
daily_missing_joined = dailydf.join(
    stations_enriched,  # from Q3(e)
    on="ID",
    how="left"
)

# Filter for rows where station information is missing after join
missing_stations = daily_missing_joined.filter(col("COUNTRY_CODE").isNull())

# Display distinct station IDs missing from stations
missing_station_ids = missing_stations.select("ID").distinct().orderBy("ID")
dhtmlf(DEEBUG,missing_station_ids.limit(20))

# Count how many station IDs are missing
dprintf(DEEBUG,"Total stations in daily not found in stations_enriched:",
      missing_station_ids.count())

# Reuse filtered DataFrame from Q4(a)
unmatched_station_count = missing_station_ids.count()

dprintf(DEEBUG,"Number of distinct stations in daily not present in stations_enriched:", unmatched_station_count)

NameError: name 'stations_enriched' is not defined

In [54]:
stations_enriched = stations_select.join(
    station_element_counts,
    on="ID",
    how="left"
)

dhtmlf(DEEBUG,stations_enriched.limit(5))

NameError: name 'stations_select' is not defined

In [4]:
stop_spark()

NameError: name 'stop_spark' is not defined