In [25]:
%run ./00_ghcn_setup.ipynb
# Run this cell to start a spark session in this notebook

start_spark(executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1)

### Assignment 1 ###

The code below demonstrates how to explore and load the data provided for the assignment from Azure Blob Storage and how to save any outputs that you generate to a separate user container.

**Key points**

- The data provided for the assignment is stored in Azure Blob Storage and outputs that you generate will be stored in Azure Blob Storage as well. Hadoop and Spark can both interact with Azure Blob Storage similar to how they interact with HDFS, but where the replication and distribution is handled by Azure instead. This makes it possible to read or write data in Azure over HTTPS where the path is prefixed by `wasbs://`.
- There are two containers, one for the data which is read only and one for any outputs that you generate,
  - `wasbs://campus-data@madsstorage002.blob.core.windows.net/`
  - `wasbs://campus-user@madsstorage002.blob.core.windows.net/`
- You can use variable interpolation to insert your global username variable into paths automatically.
  - This works for bash commands as well.

**Q1** First you will investigate the `daily`, `stations`, `states`, `countries`, and `inventory` data provided  in cloud storage in:
 `wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/`  
using the `hdfs` command.

**(a)** How is the data structured?

In [26]:
%run ./00_ghcn_setup.ipynb
# Run this cell to start a spark session in this notebook

start_spark(executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1)

In [27]:
# Write your imports here or insert cells below

from pyspark.sql import functions as F
from pyspark.sql.types import *

In [28]:
# Use the hdfs command to explore the data in Azure Blob Storage
aDaily         = f'/2025.csv.gz'
prefix         = f'wasbs://{azure_data_container_name}@{azure_account_name}.blob.core.windows.net/ghcnd/'
prefixDaily    = f'{prefix}/daily/'
print(prefix)

wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/

In [29]:
#! hdfs dfs -du -h  {prefix}
#! hdfs dfs -ls     {prefix} #structure 
#! hdfs dfs -ls     {prefixDaily} #structure 
#! HADOOP_ROOT_LOGGER="WARNING" hdfs dfs -ls wasbs://{azure_data_container_name}@{azure_account_name}.blob.core.windows.net/ghcnd/
#! HADOOP_ROOT_LOGGER="WARNING" hdfs dfs -ls wasbs://{azure_data_container_name}@{azure_account_name}.blob.core.windows.net/ghcnd/daily/

print("--- PART 1")

lines_ls = !hdfs dfs -ls {prefix}
parsed_ls = []

for line in lines_ls:
    line = line.strip()
    if not line or line.startswith("INFO") or line.startswith("WARN") or "Found" in line: # noise
        continue                                                                          # noise 

    parts = line.split()                   
    if len(parts) >= 2:
        perms     = parts[0]
        full_path = parts[-1]

        if perms.startswith("-") or perms.startswith("d"): # file or directory 
            rel_path = full_path.replace(prefix, '')
            parsed_ls.append((perms, rel_path))

# Print result
for perms, name in parsed_ls:
    print(f"{perms:<12} {name}")  #columns are aligned

print("--- PART 2")
# --- PART 2:  -du -h (size info) ---
lines     = !hdfs dfs -du -h  {prefix}
parsed_du = []
for line in lines:
    if line.startswith("INFO") or line.startswith("WARN"): # some noise
        continue                                           # some noise

    parts = line.split()                                  
    if len(parts) >= 5:
        size1    = f"{parts[0]} {parts[1]}"
        size2    = f"{parts[2]} {parts[3]}"
        full_path = parts[4]
    elif len(parts) >= 3:
        size1, size2, full_path = parts[0], parts[1], parts[2]
    else:
        continue

    rel_path = full_path.replace(prefix, '')
    parsed_du.append((rel_path, size1, size2))

# Print parsed_du
for name, size1, size2 in parsed_du:
    print(f"{name:<25} {size1:<7} {size2:<7}")


print("--- PART 3")

!hdfs dfs -count  {prefixDaily}

print("--- PART 4")

lines_daily = !hdfs dfs -ls {prefixDaily}
parsed_daily = []

for line in lines_daily:
    line = line.strip()

    
    if not line or "INFO" in line or "WARN" in line or "Found" in line: # Skip noise and non-data lines
        continue                                                        # Skip noise and non-data lines

    parts = line.split()
    if len(parts) == 6:  # Exact match 
        size      = parts[2]
        full_path = parts[5]
        file_name = full_path.rsplit('/', 1)[-1]
        parsed_daily.append((size, file_name))
    else:
        print(f"(wrong format): {line}")

# 
if parsed_daily:
    for size, name in parsed_daily:
        print(f"{name:<15} {size}")
else:
    print("none found.")

--- PART 1
drwxrwxrwx   daily
-rwxrwxrwx   ghcnd-countries.txt
-rwxrwxrwx   ghcnd-inventory.txt
-rwxrwxrwx   ghcnd-states.txt
-rwxrwxrwx   ghcnd-stations.txt
--- PART 2
Unable                    2025-04-02 00:52:57,985 WARN util.NativeCodeLoader:
Loaded                    2025-04-02 00:52:58,263 INFO impl.MetricsConfig:
Scheduled                 2025-04-02 00:52:58,311 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-02 00:52:58,311 INFO impl.MetricsSystemImpl:
ghcnd-countries.txt       3.6 K   3.6 K
ghcnd-states.txt          1.1 K   1.1 K
ghcnd-stations.txt        10.6 M  10.6 M
daily                     13.0 G  13.0 G
ghcnd-inventory.txt       33.6 M  33.6 M
Stopping                  2025-04-02 00:52:58,994 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-02 00:52:58,994 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-02 00:52:58,994 INFO impl.MetricsSystemImpl:
--- PART 3
2025-04-02 00:53:00,088 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2025-04-02 00:53:00,359 INFO impl.MetricsConfig: Loaded properties from hadoop-metrics2.properties
2025-04-02 00:53:00,411 INFO impl.MetricsSystemImpl: Scheduled Metric snapshot period at 10 second(s).
2025-04-02 00:53:00,411 INFO impl.MetricsSystemImpl: azure-file-system metrics system started
           1          264        13975887693 wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/daily
2025-04-02 00:53:01,025 INFO impl.MetricsSystemImpl: Stopping azure-file-system metrics system...
2025-04-02 00:53:01,025 INFO impl.MetricsSystemImpl: azure-file-system metrics system stopped.
2025-04-02 00:53:01,025 INFO impl.MetricsSystemImpl: azure-file-system metrics system shutdown complete.
--- PART 4
1750.csv.gz     1385743
1763.csv.gz     3358
1764.csv.gz     3327
1765.csv.gz     3335
1766.csv.gz     3344
1767.csv.gz     3356
1768.csv.gz     3325
1769.csv.gz     3418
1770.csv.gz     3357
1771.csv.gz     3373
1772.csv.gz     3419
1773.csv.gz     3368
1774.csv.gz     3393
1775.csv.gz     6365
1776.csv.gz     6425
1777.csv.gz     6424
1778.csv.gz     6240
1779.csv.gz     6144
1780.csv.gz     6245
1781.csv.gz     7799
1782.csv.gz     7808
1783.csv.gz     7920
1784.csv.gz     7946
1785.csv.gz     7804
1786.csv.gz     7891
1787.csv.gz     6336
1788.csv.gz     6394
1789.csv.gz     7773
1790.csv.gz     7786
1791.csv.gz     7734
1792.csv.gz     7806
1793.csv.gz     6342
1794.csv.gz     7770
1795.csv.gz     7843
1796.csv.gz     7821
1797.csv.gz     9239
1798.csv.gz     9290
1799.csv.gz     6351
1800.csv.gz     7783
1801.csv.gz     7801
1802.csv.gz     9195
1803.csv.gz     7892
1804.csv.gz     8727
1805.csv.gz     8901
1806.csv.gz     8598
1807.csv.gz     8725
1808.csv.gz     8928
1809.csv.gz     8778
1810.csv.gz     8829
1811.csv.gz     8932
1812.csv.gz     8993
1813.csv.gz     9264
1814.csv.gz     10833
1815.csv.gz     13884
1816.csv.gz     13865
1817.csv.gz     13758
1818.csv.gz     13758
1819.csv.gz     13690
1820.csv.gz     13997
1821.csv.gz     13792
1822.csv.gz     14049
1823.csv.gz     14745
1824.csv.gz     18035
1825.csv.gz     18101
1826.csv.gz     18403
1827.csv.gz     20855
1828.csv.gz     20981
1829.csv.gz     21141
1830.csv.gz     21306
1831.csv.gz     21319
1832.csv.gz     22435
1833.csv.gz     27262
1834.csv.gz     27164
1835.csv.gz     27546
1836.csv.gz     29795
1837.csv.gz     29334
1838.csv.gz     31459
1839.csv.gz     29361
1840.csv.gz     35913
1841.csv.gz     36864
1842.csv.gz     39570
1843.csv.gz     39535
1844.csv.gz     43325
1845.csv.gz     52256
1846.csv.gz     49535
1847.csv.gz     50847
1848.csv.gz     50033
1849.csv.gz     51977
1850.csv.gz     51871
1851.csv.gz     59192
1852.csv.gz     63805
1853.csv.gz     64356
1854.csv.gz     64004
1855.csv.gz     70710
1856.csv.gz     81212
1857.csv.gz     88910
1858.csv.gz     122842
1859.csv.gz     136813
1860.csv.gz     146995
1861.csv.gz     150606
1862.csv.gz     145625
1863.csv.gz     164239
1864.csv.gz     164146
1865.csv.gz     163927
1866.csv.gz     212821
1867.csv.gz     256701
1868.csv.gz     269545
1869.csv.gz     314469
1870.csv.gz     360140
1871.csv.gz     477098
1872.csv.gz     650129
1873.csv.gz     728688
1874.csv.gz     815760
1875.csv.gz     886014
1876.csv.gz     965160
1877.csv.gz     1077970
1878.csv.gz     1274702
1879.csv.gz     1461379
1880.csv.gz     1847043
1881.csv.gz     2208841
1882.csv.gz     2512758
1883.csv.gz     2775527
1884.csv.gz     3303464
1885.csv.gz     3745027
1886.csv.gz     4102788
1887.csv.gz     4605113
1888.csv.gz     4958378
1889.csv.gz     5388271
1890.csv.gz     5878742
1891.csv.gz     6170065
1892.csv.gz     7118004
1893.csv.gz     13052983
1894.csv.gz     13929624
1895.csv.gz     15036340
1896.csv.gz     16204018
1897.csv.gz     17474772
1898.csv.gz     18225580
1899.csv.gz     18953308
1900.csv.gz     20251196
1901.csv.gz     25767142
1902.csv.gz     26736821
1903.csv.gz     27302649
1904.csv.gz     28201320
1905.csv.gz     29632148
1906.csv.gz     30289765
1907.csv.gz     31144951
1908.csv.gz     31867868
1909.csv.gz     33519209
1910.csv.gz     34622865
1911.csv.gz     35904462
1912.csv.gz     37263226
1913.csv.gz     38255770
1914.csv.gz     39485528
1915.csv.gz     40658560
1916.csv.gz     42029487
1917.csv.gz     42252301
1918.csv.gz     41304535
1919.csv.gz     40799997
1920.csv.gz     41033429
1921.csv.gz     41324111
1922.csv.gz     42113624
1923.csv.gz     42862524
1924.csv.gz     43710214
1925.csv.gz     44015966
1926.csv.gz     45226774
1927.csv.gz     46033600
1928.csv.gz     46580018
1929.csv.gz     47573559
1930.csv.gz     48987101
1931.csv.gz     50624633
1932.csv.gz     51705273
1933.csv.gz     52178613
1934.csv.gz     52521149
1935.csv.gz     53488183
1936.csv.gz     56768695
1937.csv.gz     58175289
1938.csv.gz     59344873
1939.csv.gz     61148235
1940.csv.gz     63463421
1941.csv.gz     65375485
1942.csv.gz     67537465
1943.csv.gz     68405592
1944.csv.gz     70192973
1945.csv.gz     72659632
1946.csv.gz     73148444
1947.csv.gz     74970819
1948.csv.gz     89145605
1949.csv.gz     101758958
1950.csv.gz     104856670
1951.csv.gz     108201081
1952.csv.gz     109667528
1953.csv.gz     111171866
1954.csv.gz     113330494
1955.csv.gz     115757071
1956.csv.gz     117984088
1957.csv.gz     120673205
1958.csv.gz     121914900
1959.csv.gz     124376950
1960.csv.gz     126849252
1961.csv.gz     130750539
1962.csv.gz     133559230
1963.csv.gz     136585486
1964.csv.gz     137581099
1965.csv.gz     142018261
1966.csv.gz     143937982
1967.csv.gz     145306876
1968.csv.gz     144896387
1969.csv.gz     146762160
1970.csv.gz     147692050
1971.csv.gz     142221845
1972.csv.gz     141305619
1973.csv.gz     148100923
1974.csv.gz     149378829
1975.csv.gz     148905604
1976.csv.gz     148764292
1977.csv.gz     148575501
1978.csv.gz     148815187
1979.csv.gz     149117704
1980.csv.gz     149579207
1981.csv.gz     152656825
1982.csv.gz     154508476
1983.csv.gz     155940158
1984.csv.gz     154313147
1985.csv.gz     152811879
1986.csv.gz     151770851
1987.csv.gz     151809884
1988.csv.gz     152626966
1989.csv.gz     153053088
1990.csv.gz     153157679
1991.csv.gz     153852159
1992.csv.gz     154026142
1993.csv.gz     152865318
1994.csv.gz     151844762
1995.csv.gz     151469358
1996.csv.gz     151756945
1997.csv.gz     150454010
1998.csv.gz     153494337
1999.csv.gz     156271670
2000.csv.gz     158226488
2001.csv.gz     160670036
2002.csv.gz     162275809
2003.csv.gz     165928854
2004.csv.gz     168459055
2005.csv.gz     165289423
2006.csv.gz     171894892
2007.csv.gz     174934788
2008.csv.gz     182624806
2009.csv.gz     185641000
2010.csv.gz     187293865
2011.csv.gz     177949864
2012.csv.gz     175262367
2013.csv.gz     170236479
2014.csv.gz     168607573
2015.csv.gz     171192339
2016.csv.gz     172621542
2017.csv.gz     172257484
2018.csv.gz     172359764
2019.csv.gz     171131311
2020.csv.gz     172132828
2021.csv.gz     175050475
2022.csv.gz     175205910
2023.csv.gz     174726829
2024.csv.gz     168485088
2025.csv.gz     17061071

### Q2 (a)
Schema for `daily` based on  GHCN Daily README

In [30]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
dailyPath = f"{prefixDaily}2022.csv.gz"
dailySchema = StructType([
    StructField("ID",       StringType(),  False), # Station ID
    StructField("DATE",     StringType(),  False), # YYYYMMDD
    StructField("ELEMENT",  StringType(),  True),  # Measurement type (e.g., TMAX)
    StructField("VALUE",    IntegerType(), True),  # Observation value
    StructField("MFLAG",    StringType(),  True),  # Measurement flag
    StructField("QFLAG",    StringType(),  True),  # Quality flag
    StructField("SFLAG",    StringType(),  True),  # Source flag
    StructField("OBS_TIME", StringType(),  True)   # Time of observation
])


dailydf   = spark.read.csv(dailyPath, schema=dailySchema, header=False)
dailydf.printSchema()
show_as_html(dailydf.limit(5))
# Parse DATE 
dailydf = dailydf.withColumn("DATE", F.to_date(F.col("DATE"), "yyyyMMdd"))

# Parse OBS_TIME 
dailydf = dailydf.withColumn("OBS_TIME", 
    F.to_timestamp(F.concat(F.lit("1970-01-01 "), F.col("OBS_TIME")), "yyyy-MM-dd HHmm")) # fake full date
dailydf = dailydf.withColumn("OBS_TIME", 
    F.date_format(F.col("OBS_TIME"), "HH:mm")) # just HH:mm

# show the sample of data and print the schema
dailydf.printSchema()
show_as_html(dailydf.limit(5))

root
 |-- ID: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- VALUE: integer (nullable = true)
 |-- MFLAG: string (nullable = true)
 |-- QFLAG: string (nullable = true)
 |-- SFLAG: string (nullable = true)
 |-- OBS_TIME: string (nullable = true)

            ID      DATE ELEMENT  VALUE MFLAG QFLAG SFLAG OBS_TIME
0  ASN00037091  20220101    PRCP      0  None  None     a     None
1  ASN00037098  20220101    PRCP      0  None  None     a     None
2  ASN00037104  20220101    PRCP      0  None  None     a     None
3  ASN00037105  20220101    PRCP      0  None  None     a     None
4  ASN00037106  20220101    PRCP      0  None  None     a     None

root
 |-- ID: string (nullable = true)
 |-- DATE: date (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- VALUE: integer (nullable = true)
 |-- MFLAG: string (nullable = true)
 |-- QFLAG: string (nullable = true)
 |-- SFLAG: string (nullable = true)
 |-- OBS_TIME: string (nullable = true)

            ID        DATE ELEMENT  VALUE MFLAG QFLAG SFLAG OBS_TIME
0  ASN00037091  2022-01-01    PRCP      0  None  None     a     None
1  ASN00037098  2022-01-01    PRCP      0  None  None     a     None
2  ASN00037104  2022-01-01    PRCP      0  None  None     a     None
3  ASN00037105  2022-01-01    PRCP      0  None  None     a     None
4  ASN00037106  2022-01-01    PRCP      0  None  None     a     None

In [31]:
from pyspark.sql.functions import col, substring

# Example: Load stations
stationsPath = f"{prefix}ghcnd-stations.txt"
stationsdf = spark.read.text(stationsPath)

# Parse columns by fixed positions
stationsdf = stationsdf.select(
    substring("value", 1, 11).alias("ID"),
    substring("value", 13, 8).cast("double").alias("LATITUDE"),
    substring("value", 22, 8).cast("double").alias("LONGITUDE"),
    substring("value", 31, 6).cast("double").alias("ELEVATION"),
    substring("value", 38, 2).alias("STATE"),
    substring("value", 41, 30).alias("NAME"),
    substring("value", 72, 3).alias("GSNFLAG"),
    substring("value", 76, 3).alias("HCNFLAG"),
    substring("value", 80, 5).alias("WMOID")
)
stationsdf.printSchema()
show_as_html(stationsdf.limit(5))

root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- NAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,,4119
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121

In [32]:
# Load a small subset of daily (e.g. 2022)
dailyPath = f"{prefixDaily}1840.csv.gz"
dailydf   = spark.read.csv(dailyPath, schema=dailySchema, header=False)
dailydf.printSchema()
show_as_html(dailydf.limit(5))

root
 |-- ID: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- VALUE: integer (nullable = true)
 |-- MFLAG: string (nullable = true)
 |-- QFLAG: string (nullable = true)
 |-- SFLAG: string (nullable = true)
 |-- OBS_TIME: string (nullable = true)

            ID      DATE ELEMENT  VALUE MFLAG QFLAG SFLAG OBS_TIME
0  ASN00023000  18400101    PRCP      0  None  None     a     None
1  SWE00139148  18400101    TMIN    -97  None  None     E     None
2  SWE00139148  18400101    PRCP      0  None  None     E     None
3  EZE00100082  18400101    TMAX     -4  None  None     E     None
4  EZE00100082  18400101    TMIN    -22  None  None     E     None

In [33]:
from pyspark.sql.functions import col, substring

# Example: Load countries
pathCountries = f"{prefix}ghcnd-countries.txt"
rawCountries  = spark.read.text(pathCountries)

# Parse columns by fixed positions
countriesdf = rawCountries.select(
    substring("value", 1, 2).alias("CODE"),
    substring("value", 4, 50).alias("NAME")
)
show_as_html(countriesdf.limit(5))

  CODE                   NAME
0   AC   Antigua and Barbuda
1   AE  United Arab Emirates
2   AF            Afghanistan
3   AG               Algeria
4   AJ            Azerbaijan

In [34]:
from pyspark.sql.functions import col, substring

# Example: Load states
pathStates = f"{prefix}ghcnd-states.txt"
rawStates  = spark.read.text(pathStates)

# Parse columns by fixed positions
statesdf = rawStates.select(
    substring("value", 1, 2).alias("CODE"),
    substring("value", 4, 50).alias("NAME")
)
show_as_html(statesdf.limit(5))

  CODE                                             NAME
0   AB                                          ALBERTA
1   AK                                           ALASKA
2   AL  ALABAMA
3   AR                                         ARKANSAS
4   AS                                   AMERICAN SAMOA

In [35]:
from pyspark.sql.functions import col, substring

# Example: Load inventory
pathInventory = f"{prefix}ghcnd-inventory.txt"
rawInventory  = spark.read.text(pathInventory)

# Parse columns by fixed positions
inventorydf = rawInventory.select(
    substring("value", 1, 11).alias("ID"),
    substring("value", 13, 8).cast("double").alias("LATITUDE"),
    substring("value", 22, 8).cast("double").alias("LONGITUDE"),
    substring("value", 31, 4).cast("int").alias("FIRSTYEAR"),
    substring("value", 36, 4).cast("int").alias("LASTYEAR"),
    substring("value", 41, 4).alias("ELEMENT")
)
show_as_html(inventorydf.limit(5))

            ID  LATITUDE  LONGITUDE  FIRSTYEAR  LASTYEAR ELEMENT
0  ACW00011604   17.1167    -61.783        NaN       194     194
1  ACW00011604   17.1167    -61.783        NaN       194     194
2  ACW00011604   17.1167    -61.783        NaN       194     194
3  ACW00011604   17.1167    -61.783        NaN       194     194
4  ACW00011604   17.1167    -61.783        NaN       194     194

In [36]:
# Load and count each
paths = {
    "stations":  f"{prefix}ghcnd-stations.txt",
    "states":    f"{prefix}ghcnd-states.txt",
    "countries": f"{prefix}ghcnd-countries.txt",
    "inventory": f"{prefix}ghcnd-inventory.txt"
}

for name, path in paths.items():
    df = spark.read.text(path)
    df.printSchema()
    print(f"{name}: {df.count()} rows")

root
 |-- value: string (nullable = true)

stations: 129657 rows
root
 |-- value: string (nullable = true)

states: 74 rows
root
 |-- value: string (nullable = true)

countries: 219 rows
root
 |-- value: string (nullable = true)

inventory: 765615 rows

In [37]:
spark.range(1).show()

+---+
| id|
+---+
|  0|
+---+

In [52]:
from pyspark.sql.functions import col, substring
show_as_html(stationsdf.limit(5))

# Extract 2-character country code from station ID
stationCodedf = stationsdf.withColumn("COUNTRY_CODE", substring("ID", 1, 2))
show_as_html(stationCodedf.limit(5))

# Rename NAME in countriesdf to avoid conflict
countriesRenamed = countriesdf.withColumnRenamed("NAME", "COUNTRY_NAME")

# LEFT JOIN with countries on country code
stationJoined = stationCodedf.join(
    countriesRenamed,
    stationCodedf["COUNTRY_CODE"] == countriesRenamed["CODE"],
    how="left"
).drop(countriesRenamed["CODE"])

# Preview result
show_as_html(stationJoined.limit(5))

# Final preview of selected columns
stationsSelect = stationJoined.select("ID", "COUNTRY_CODE", "COUNTRY_NAME")

show_as_html(stationsSelect.limit(5))

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,,4119
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID,COUNTRY_CODE
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,,AC
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,,AC
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,,4119,AE
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119,AE
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121,AE

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSNFLAG,HCNFLAG,WMOID,COUNTRY_CODE,COUNTRY_NAME
0,ACW00011604,17.1167,-61.783,10.0,,ST JOHNS COOLIDGE FLD,,,,AC,Antigua and Barbuda
1,ACW00011647,17.1333,-61.783,19.0,,ST JOHNS,,,,AC,Antigua and Barbuda
2,AE000041196,25.3330,55.517,34.0,,SHARJAH INTER. AIRP,GS,,4119,AE,United Arab Emirates
3,AEM00041194,25.2550,55.364,10.0,,DUBAI INTL,,,4119,AE,United Arab Emirates
4,AEM00041217,24.4330,54.651,26.0,,ABU DHABI INTL,,,4121,AE,United Arab Emirates

            ID COUNTRY_CODE           COUNTRY_NAME
0  ACW00011604           AC   Antigua and Barbuda
1  ACW00011647           AC   Antigua and Barbuda
2  AE000041196           AE  United Arab Emirates
3  AEM00041194           AE  United Arab Emirates
4  AEM00041217           AE  United Arab Emirates

In [53]:
from pyspark.sql.functions import col, substring, lit, trim, upper

# Reference paths from GHCN
statesPath = f"{prefix}ghcnd-states.txt"
countriesPath = f"{prefix}ghcnd-countries.txt"
stationsPath = f"{prefix}ghcnd-stations.txt"

# Load metadata
statesdf = spark.read.text(statesPath)
countriesdf = spark.read.text(countriesPath)
stationsdf = spark.read.text(stationsPath)

# Parse states: fixed width (02 = CODE, 3+ = NAME)
statesdf = statesdf.select(
    trim(substring("value", 1, 2)).alias("CODE"),
    trim(substring("value", 4, 50)).alias("STATE_NAME")
)

# Parse countries: fixed width (02 = CODE, 3+ = NAME)
countriesdf = countriesdf.select(
    trim(substring("value", 1, 2)).alias("CODE"),
    trim(substring("value", 4, 50)).alias("COUNTRY_NAME")
)

# Parse stations file (already loaded or reuse if exists)
stationsdf = spark.read.text(stationsPath)

# Extract structured fields from fixed-width station file
stationsdf = stationsdf.select(
    trim(substring("value", 1, 11)).alias("ID"),
    trim(substring("value", 13, 8)).cast("double").alias("LATITUDE"),
    trim(substring("value", 22, 8)).cast("double").alias("LONGITUDE"),
    trim(substring("value", 31, 6)).cast("double").alias("ELEVATION"),
    trim(substring("value", 39, 2)).alias("STATE"),
    trim(substring("value", 42, 30)).alias("NAME"),
    trim(substring("value", 72, 3)).alias("GSNFLAG"),
    trim(substring("value", 75, 3)).alias("HCNFLAG"),
    trim(substring("value", 78, 5)).alias("WMOID")
)

# Add country code from station ID
stations_with_code = stationsdf.withColumn("COUNTRY_CODE", substring("ID", 1, 2))

# Join with countries
station_country_joined = stations_with_code.join(
    countriesdf,
    stations_with_code["COUNTRY_CODE"] == countriesdf["CODE"],
    how="left"
).drop(countriesdf["CODE"])

# Separate US and non-US
us_stations = station_country_joined.filter(col("COUNTRY_CODE") == "US")
non_us_stations = station_country_joined.filter(col("COUNTRY_CODE") != "US") \
    .withColumn("STATE_NAME", lit(None).cast("string"))

# Join US stations with states (clean key)
us_stations_clean = us_stations.withColumn("STATE_CLEAN", upper(trim(col("STATE"))))

us_stations_joined = us_stations_clean.join(
    statesdf,
    us_stations_clean["STATE_CLEAN"] == statesdf["CODE"],
    how="left"
).drop("STATE_CLEAN", statesdf["CODE"])

# Merge US and non-US stations
stations_full = us_stations_joined.unionByName(non_us_stations)

# Final select and preview
stations_select = stations_full.select("ID", "COUNTRY_CODE", "COUNTRY_NAME", "STATE", "STATE_NAME")
show_as_html(stations_select.limit(5))

            ID COUNTRY_CODE   COUNTRY_NAME STATE    STATE_NAME
0  US009052008           US  United States    SD  SOUTH DAKOTA
1  US10RMHS145           US  United States    CO      COLORADO
2  US10adam001           US  United States    NE      NEBRASKA
3  US10adam002           US  United States    NE      NEBRASKA
4  US10adam003           US  United States    NE      NEBRASKA

In [51]:
from pyspark.sql.functions import col, substring, lit, trim, upper
import pandas as pd

# Step 1: Load and clean states metadata from Excel
meta_path = "/mnt/data/meta-daata.xlsx"
states_meta = pd.read_excel(meta_path, sheet_name="states")
states_cleaned = states_meta["value"].str.extract(r"(?P<CODE>\w+)\s+(?P<STATE_NAME>.+)")

# Step 2: Convert cleaned metadata to Spark DataFrame
statesdf = spark.createDataFrame(states_cleaned)

# Step 3: Preview original station data
show_as_html(stationsdf.limit(5))

# Step 4: Extract country code from station ID
stations_with_code = stationsdf.withColumn("COUNTRY_CODE", substring("ID", 1, 2))
show_as_html(stations_with_code.limit(5))

# Step 5: Join with countries
countries_renamed = countriesdf.withColumnRenamed("NAME", "COUNTRY_NAME")

stations_country_joined = stations_with_code.join(
    countries_renamed,
    stations_with_code["COUNTRY_CODE"] == countries_renamed["CODE"],
    how="left"
).drop(countries_renamed["CODE"])

# Step 6: Filter US stations and clean STATE
us_stations = stations_country_joined.filter(col("COUNTRY_CODE") == "US")
us_stations_clean = us_stations.withColumn("STATE_CLEAN", upper(trim(col("STATE"))))

# Step 7: Join with cleaned statesdf from Excel
states_renamed = statesdf.withColumnRenamed("STATE_NAME", "STATE_NAME")
us_stations_joined = us_stations_clean.join(
    states_renamed,
    us_stations_clean["STATE_CLEAN"] == states_renamed["CODE"],
    how="left"
).drop("STATE_CLEAN", states_renamed["CODE"])

# Step 8: Add null STATE_NAME to non-US stations
non_us_stations = stations_country_joined.filter(col("COUNTRY_CODE") != "US") \
    .withColumn("STATE_NAME", lit(None).cast("string"))

# Step 9: Merge US and non-US stations
stations_full = us_stations_joined.unionByName(non_us_stations)

# Step 10: Final selection and preview
stations_select = stations_full.select("ID", "COUNTRY_CODE", "COUNTRY_NAME", "STATE", "STATE_NAME")
show_as_html(stations_select.limit(5))

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/data/meta-daata.xlsx'