In [1]:
# CELL 0: Start Spark Session  
# CELL 0: 
# ------------------------------------------------

# Summary:
# - Start Spark session using shared notebook 00_ghcn2_setup.ipynb 
# - Use config: 2 executors, 1 core each, 1GB memory
#  

#  
#  
%run ./00_ghcn2_setup.ipynb
# Run this cell to start a spark session in this notebook


start_spark(
    executor_instances=2,
    executor_cores=1,
    worker_memory=1,
    master_memory=1
)

Warning: Ignoring non-Spark config property: fs.azure.sas.campus-user.madsstorage002.blob.core.windows.net
Warning: Ignoring non-Spark config property: SPARK_DRIVER_BIND_ADDRESS
25/04/07 13:30:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Assignment 1 ###

The code below demonstrates how to explore and load the data provided for the assignment from Azure Blob Storage and how to save any outputs that you generate to a separate user container.

**Key points**

- The data provided for the assignment is stored in Azure Blob Storage and outputs that you generate will be stored in Azure Blob Storage as well. Hadoop and Spark can both interact with Azure Blob Storage similar to how they interact with HDFS, but where the replication and distribution is handled by Azure instead. This makes it possible to read or write data in Azure over HTTPS where the path is prefixed by `wasbs://`.
- There are two containers, one for the data which is read only and one for any outputs that you generate,
  - `wasbs://campus-data@madsstorage002.blob.core.windows.net/`
  - `wasbs://campus-user@madsstorage002.blob.core.windows.net/`
- You can use variable interpolation to insert your global username variable into paths automatically.
  - This works for bash commands as well.

**Q1** First you will investigate the `daily`, `stations`, `states`, `countries`, and `inventory` data provided  in cloud storage in:
 `wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/`  
using the `hdfs` command.

**(a)** How is the data structured?

In [2]:
# Write your imports here or insert cells below

from pyspark.sql           import functions as F 
from pyspark.sql.types     import *
from pyspark.sql.functions import col
import time
from pyspark.sql.types import StructType, StructField, StringType, DoubleType

In [3]:
aDaily         = f'/2025.csv.gz'
prefix         = f'wasbs://{azure_data_container_name}@{azure_account_name}.blob.core.windows.net/ghcnd/'
prefixData     = f'wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/'
#prefixData    = "./"
prefixDaily    = f'{prefix}daily/'
dprintf(DEEBUG,prefix)
dprintf(DEEBUG,prefixData)
dprintf(DEEBUG,prefixDaily)
dprintf(DEEBUG,"DEEBUG = {DEEBUG}")

# 2023.csv.gz     174726829
# 2024.csv.gz     168485088
# 2025.csv.gz     17061071 
# drwxrwxrwx   daily
# -rwxrwxrwx   ghcnd-countries.txt
# -rwxrwxrwx   ghcnd-inventory.txt
# -rwxrwxrwx   ghcnd-states.txt
# -rwxrwxrwx   ghcnd-stations.txt


CSVPathADaily       = f"{prefixDaily}2025.csv.gz"
TXTPathRawCountries = f"{prefix}ghcnd-countries.txt"
TXTPathRawInventory = f"{prefix}ghcnd-inventory.txt"
TXTPathRawStates    = f"{prefix}ghcnd-states.txt"
TXTPathRawStations  = f"{prefix}ghcnd-stations.txt"


dprintf(DEEBUG,CSVPathADaily)
dprintf(DEEBUG,TXTPathRawCountries)
dprintf(DEEBUG,TXTPathRawInventory)
dprintf(DEEBUG,TXTPathRawStates)


PQPathCountriesdf          = f"{prefixData}COUNTRY-metadata.parquet"
PQPathinventorydf          = f"{prefixData}INVENTORY-metadata.parquet"
PQPathstatesdf             = f"{prefixData}STATE-metadata.parquet"
PQPathstationsdf           = f"{prefixData}STATIONS-metadata.parquet"
PQPathClassifiedStationsdf = f"{prefixData}CLASSIFY-metadata.parquet"
PQPathstationMetadata      = f"{prefixData}PIVOT-metadata.parquet"


dprintf(DEEBUG,PQPathCountriesdf)
dprintf(DEEBUG,PQPathinventorydf)
dprintf(DEEBUG,PQPathstatesdf)
dprintf(DEEBUG,PQPathClassifiedStationsdf)
dprintf(DEEBUG,PQPathstationMetadata)

wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/
wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/daily/
DEEBUG = {DEEBUG}
wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/daily/2025.csv.gz
wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-countries.txt
wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-inventory.txt
wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-states.txt
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/COUNTRY-metadata.parquet
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/INVENTORY-metadata.parquet
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATE-metadata.parquet
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/CLASSIFY-metadata.parquet
wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/PIVOT-metadata.parquet

In [4]:
# CELL 15 Q1: - a last minute attempt to accept James challenge
# CELL 15 Q1: – Inspect Azure HDFS layout and daily folder contents
# ------------------------------------------------
# Summary:
# - PART 1: list contents under {prefix}
# - PART 2: human-readable size info under {prefix}
# - PART 3: HDFS block and file count for prefixDaily
# - PART 4: list and format daily file entries

#  A last minute attempt to do what James had challenged the class with.

dprintf(DEEBUG,"Q1:  Azure HDFS layout  daily folder ")

# --- PART 1: directory listing ---
dprintf(DEEBUG, "--- PART 1 ---")
start = time.time()

lines_ls = !hdfs dfs -ls {prefix}
parsed_ls = []

for line in lines_ls:
    line = line.strip()
    if not line or line.startswith("INFO") or line.startswith("WARN") or "Found" in line:
        continue

    parts = line.split()
    if len(parts) >= 2:
        perms     = parts[0]
        full_path = parts[-1]

        if perms.startswith("-") or perms.startswith("d"):
            rel_path = full_path.replace(prefix, '')
            parsed_ls.append((perms, rel_path))

for perms, name in parsed_ls:
    dprintf(DEEBUG, f"{perms:<12} {name}")

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")
# --- PART 2: du -h (size info) ---
dprintf(DEEBUG, "--- PART 2 ---")
start = time.time()

lines = !hdfs dfs -du -h {prefix}
parsed_du = []

for line in lines:
    if line.startswith("INFO") or line.startswith("WARN"):
        continue

    parts = line.split()
    if len(parts) >= 5:
        size1    = f"{parts[0]} {parts[1]}"
        size2    = f"{parts[2]} {parts[3]}"
        full_path = parts[4]
    elif len(parts) >= 3:
        size1, size2, full_path = parts[0], parts[1], parts[2]
    else:
        continue

    rel_path = full_path.replace(prefix, '')
    parsed_du.append((rel_path, size1, size2))

for name, size1, size2 in parsed_du:
    dprintf(DEEBUG, f"{name:<25} {size1:<7} {size2:<7}")

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")

# --- PART 3: HDFS file count ---
dprintf(DEEBUG, "--- PART 3 ---")
start = time.time()

!hdfs dfs -count {prefixDaily}

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")

# --- PART 4: list daily files ---
dprintf(DEEBUG, "--- PART 4 ---")
start = time.time()

lines_daily = !hdfs dfs -ls {prefixDaily}
parsed_daily = []

for line in lines_daily:
    line = line.strip()
    if not line or "INFO" in line or "WARN" in line or "Found" in line:
        continue

    parts = line.split()
    if len(parts) == 6:
        size      = parts[2]
        full_path = parts[5]
        file_name = full_path.rsplit('/', 1)[-1]
        parsed_daily.append((size, file_name))
    else:
        dprintf(DEEBUG, f"(wrong format): {line}")

if parsed_daily:
    for size, name in parsed_daily:
        dprintf(DEEBUG, f"{name:<15} {size}")
else:
    dprintf(DEEBUG, "none found.")

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")

Q1:  Azure HDFS layout  daily folder
--- PART 1 ---
drwxrwxrwx   daily
-rwxrwxrwx   ghcnd-countries.txt
-rwxrwxrwx   ghcnd-inventory.txt
-rwxrwxrwx   ghcnd-states.txt
-rwxrwxrwx   ghcnd-stations.txt
complete in 1.69 seconds
--- PART 2 ---
Unable                    2025-04-07 13:30:51,199 WARN util.NativeCodeLoader:
Loaded                    2025-04-07 13:30:51,464 INFO impl.MetricsConfig:
Scheduled                 2025-04-07 13:30:51,508 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-07 13:30:51,508 INFO impl.MetricsSystemImpl:
ghcnd-countries.txt       3.6 K   3.6 K
ghcnd-states.txt          1.1 K   1.1 K
ghcnd-stations.txt        10.6 M  10.6 M
daily                     13.0 G  13.0 G
ghcnd-inventory.txt       33.6 M  33.6 M
Stopping                  2025-04-07 13:30:52,221 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-07 13:30:52,221 INFO impl.MetricsSystemImpl:
azure-file-system         2025-04-07 13:30:52,221 INFO impl.MetricsSystemImpl:
complete in 1.93 seconds
--- PART 3 ---
2025-04-07 13:30:53,315 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2025-04-07 13:30:53,589 INFO impl.MetricsConfig: Loaded properties from hadoop-metrics2.properties
2025-04-07 13:30:53,646 INFO impl.MetricsSystemImpl: Scheduled Metric snapshot period at 10 second(s).
2025-04-07 13:30:53,646 INFO impl.MetricsSystemImpl: azure-file-system metrics system started
           1          264        13975887693 wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/daily
2025-04-07 13:30:55,125 INFO impl.MetricsSystemImpl: Stopping azure-file-system metrics system...
2025-04-07 13:30:55,125 INFO impl.MetricsSystemImpl: azure-file-system metrics system stopped.
2025-04-07 13:30:55,126 INFO impl.MetricsSystemImpl: azure-file-system metrics system shutdown complete.
complete in 3.00 seconds
--- PART 4 ---
1750.csv.gz     1385743
1763.csv.gz     3358
1764.csv.gz     3327
1765.csv.gz     3335
1766.csv.gz     3344
1767.csv.gz     3356
1768.csv.gz     3325
1769.csv.gz     3418
1770.csv.gz     3357
1771.csv.gz     3373
1772.csv.gz     3419
1773.csv.gz     3368
1774.csv.gz     3393
1775.csv.gz     6365
1776.csv.gz     6425
1777.csv.gz     6424
1778.csv.gz     6240
1779.csv.gz     6144
1780.csv.gz     6245
1781.csv.gz     7799
1782.csv.gz     7808
1783.csv.gz     7920
1784.csv.gz     7946
1785.csv.gz     7804
1786.csv.gz     7891
1787.csv.gz     6336
1788.csv.gz     6394
1789.csv.gz     7773
1790.csv.gz     7786
1791.csv.gz     7734
1792.csv.gz     7806
1793.csv.gz     6342
1794.csv.gz     7770
1795.csv.gz     7843
1796.csv.gz     7821
1797.csv.gz     9239
1798.csv.gz     9290
1799.csv.gz     6351
1800.csv.gz     7783
1801.csv.gz     7801
1802.csv.gz     9195
1803.csv.gz     7892
1804.csv.gz     8727
1805.csv.gz     8901
1806.csv.gz     8598
1807.csv.gz     8725
1808.csv.gz     8928
1809.csv.gz     8778
1810.csv.gz     8829
1811.csv.gz     8932
1812.csv.gz     8993
1813.csv.gz     9264
1814.csv.gz     10833
1815.csv.gz     13884
1816.csv.gz     13865
1817.csv.gz     13758
1818.csv.gz     13758
1819.csv.gz     13690
1820.csv.gz     13997
1821.csv.gz     13792
1822.csv.gz     14049
1823.csv.gz     14745
1824.csv.gz     18035
1825.csv.gz     18101
1826.csv.gz     18403
1827.csv.gz     20855
1828.csv.gz     20981
1829.csv.gz     21141
1830.csv.gz     21306
1831.csv.gz     21319
1832.csv.gz     22435
1833.csv.gz     27262
1834.csv.gz     27164
1835.csv.gz     27546
1836.csv.gz     29795
1837.csv.gz     29334
1838.csv.gz     31459
1839.csv.gz     29361
1840.csv.gz     35913
1841.csv.gz     36864
1842.csv.gz     39570
1843.csv.gz     39535
1844.csv.gz     43325
1845.csv.gz     52256
1846.csv.gz     49535
1847.csv.gz     50847
1848.csv.gz     50033
1849.csv.gz     51977
1850.csv.gz     51871
1851.csv.gz     59192
1852.csv.gz     63805
1853.csv.gz     64356
1854.csv.gz     64004
1855.csv.gz     70710
1856.csv.gz     81212
1857.csv.gz     88910
1858.csv.gz     122842
1859.csv.gz     136813
1860.csv.gz     146995
1861.csv.gz     150606
1862.csv.gz     145625
1863.csv.gz     164239
1864.csv.gz     164146
1865.csv.gz     163927
1866.csv.gz     212821
1867.csv.gz     256701
1868.csv.gz     269545
1869.csv.gz     314469
1870.csv.gz     360140
1871.csv.gz     477098
1872.csv.gz     650129
1873.csv.gz     728688
1874.csv.gz     815760
1875.csv.gz     886014
1876.csv.gz     965160
1877.csv.gz     1077970
1878.csv.gz     1274702
1879.csv.gz     1461379
1880.csv.gz     1847043
1881.csv.gz     2208841
1882.csv.gz     2512758
1883.csv.gz     2775527
1884.csv.gz     3303464
1885.csv.gz     3745027
1886.csv.gz     4102788
1887.csv.gz     4605113
1888.csv.gz     4958378
1889.csv.gz     5388271
1890.csv.gz     5878742
1891.csv.gz     6170065
1892.csv.gz     7118004
1893.csv.gz     13052983
1894.csv.gz     13929624
1895.csv.gz     15036340
1896.csv.gz     16204018
1897.csv.gz     17474772
1898.csv.gz     18225580
1899.csv.gz     18953308
1900.csv.gz     20251196
1901.csv.gz     25767142
1902.csv.gz     26736821
1903.csv.gz     27302649
1904.csv.gz     28201320
1905.csv.gz     29632148
1906.csv.gz     30289765
1907.csv.gz     31144951
1908.csv.gz     31867868
1909.csv.gz     33519209
1910.csv.gz     34622865
1911.csv.gz     35904462
1912.csv.gz     37263226
1913.csv.gz     38255770
1914.csv.gz     39485528
1915.csv.gz     40658560
1916.csv.gz     42029487
1917.csv.gz     42252301
1918.csv.gz     41304535
1919.csv.gz     40799997
1920.csv.gz     41033429
1921.csv.gz     41324111
1922.csv.gz     42113624
1923.csv.gz     42862524
1924.csv.gz     43710214
1925.csv.gz     44015966
1926.csv.gz     45226774
1927.csv.gz     46033600
1928.csv.gz     46580018
1929.csv.gz     47573559
1930.csv.gz     48987101
1931.csv.gz     50624633
1932.csv.gz     51705273
1933.csv.gz     52178613
1934.csv.gz     52521149
1935.csv.gz     53488183
1936.csv.gz     56768695
1937.csv.gz     58175289
1938.csv.gz     59344873
1939.csv.gz     61148235
1940.csv.gz     63463421
1941.csv.gz     65375485
1942.csv.gz     67537465
1943.csv.gz     68405592
1944.csv.gz     70192973
1945.csv.gz     72659632
1946.csv.gz     73148444
1947.csv.gz     74970819
1948.csv.gz     89145605
1949.csv.gz     101758958
1950.csv.gz     104856670
1951.csv.gz     108201081
1952.csv.gz     109667528
1953.csv.gz     111171866
1954.csv.gz     113330494
1955.csv.gz     115757071
1956.csv.gz     117984088
1957.csv.gz     120673205
1958.csv.gz     121914900
1959.csv.gz     124376950
1960.csv.gz     126849252
1961.csv.gz     130750539
1962.csv.gz     133559230
1963.csv.gz     136585486
1964.csv.gz     137581099
1965.csv.gz     142018261
1966.csv.gz     143937982
1967.csv.gz     145306876
1968.csv.gz     144896387
1969.csv.gz     146762160
1970.csv.gz     147692050
1971.csv.gz     142221845
1972.csv.gz     141305619
1973.csv.gz     148100923
1974.csv.gz     149378829
1975.csv.gz     148905604
1976.csv.gz     148764292
1977.csv.gz     148575501
1978.csv.gz     148815187
1979.csv.gz     149117704
1980.csv.gz     149579207
1981.csv.gz     152656825
1982.csv.gz     154508476
1983.csv.gz     155940158
1984.csv.gz     154313147
1985.csv.gz     152811879
1986.csv.gz     151770851
1987.csv.gz     151809884
1988.csv.gz     152626966
1989.csv.gz     153053088
1990.csv.gz     153157679
1991.csv.gz     153852159
1992.csv.gz     154026142
1993.csv.gz     152865318
1994.csv.gz     151844762
1995.csv.gz     151469358
1996.csv.gz     151756945
1997.csv.gz     150454010
1998.csv.gz     153494337
1999.csv.gz     156271670
2000.csv.gz     158226488
2001.csv.gz     160670036
2002.csv.gz     162275809
2003.csv.gz     165928854
2004.csv.gz     168459055
2005.csv.gz     165289423
2006.csv.gz     171894892
2007.csv.gz     174934788
2008.csv.gz     182624806
2009.csv.gz     185641000
2010.csv.gz     187293865
2011.csv.gz     177949864
2012.csv.gz     175262367
2013.csv.gz     170236479
2014.csv.gz     168607573
2015.csv.gz     171192339
2016.csv.gz     172621542
2017.csv.gz     172257484
2018.csv.gz     172359764
2019.csv.gz     171131311
2020.csv.gz     172132828
2021.csv.gz     175050475
2022.csv.gz     175205910
2023.csv.gz     174726829
2024.csv.gz     168485088
2025.csv.gz     17061071
complete in 1.83 seconds

In [22]:
# CELL 2 Q1(A): Define Schema for Daily  
# CELL 2 Q1(A): 
# ------------------------------------------------

# Summary:
# - Schema for daily based on GHCN Daily README
# - Define the schema using PySpark types for the daily data format

# The daily dataset includes
# - ID (String)
# - DATE (String)
# - ELEMENT (String)
# - VALUE (Double)
# - MFLAG (String)
# - QFLAG (String)
# - SFLAG (String)
# - OBS_TIME (String)
# using pyspark.sql.types.StructType
# 
# The DATE field is formatted as YYYYMMDD as loaded 



schemaDaily = StructType([
    StructField("ID", StringType(), True),
    StructField("DATE", StringType(), True),
    StructField("ELEMENT", StringType(), True),
    StructField("VALUE", DoubleType(), True),
    StructField("MFLAG", StringType(), True),
    StructField("QFLAG", StringType(), True),
    StructField("SFLAG", StringType(), True),
    StructField("OBS_TIME", StringType(), True)
])

stationsRawdf = dReadTEXT(1,TXTPathRawStations)

filename: wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-stations.txt
root
 |-- value: string (nullable = true)

                                               value
0  ACW00011604  17.1167  -61.7833   10.1    ST JO...
1  ACW00011647  17.1333  -61.7833   19.2    ST JO...
2  AE000041196  25.3330   55.5170   34.0    SHARJ...
3  AEM00041194  25.2550   55.3640   10.4    DUBAI...
4  AEM00041217  24.4330   54.6510   26.8    ABU D...

completed in 0.06 seconds
result.count() = 129657

In [23]:
# CELL 3 Q2(B): Load Single Year of Daily  
# CELL 3 Q2(B): 
# ------------------------------------------------

# Summary:
# - Load this year's daily observations using schemaDaily

# The source data is stored as CSV with no header and read using the schema defined in CELL 2.
# We load only one file (2025.csv.gz) to keep execution fast.
#  






try:
    dfDailyYear = dReadCSV(1, 
        path = CSVPathADaily,
        bHeader = False,
        schema = schemaDaily
    )

except Exception as e:
    print("❌ Error caught:", type(e), e)
    traceback.print_exc()

path: wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/daily/2025.csv.gz
schema: struct<ID:string,DATE:string,ELEMENT:string,VALUE:double,MFLAG:string,QFLAG:string,SFLAG:string,OBS_TIME:string>
root
 |-- ID: string (nullable = true)
 |-- DATE: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- VALUE: double (nullable = true)
 |-- MFLAG: string (nullable = true)
 |-- QFLAG: string (nullable = true)
 |-- SFLAG: string (nullable = true)
 |-- OBS_TIME: string (nullable = true)

            ID      DATE ELEMENT  VALUE MFLAG QFLAG SFLAG OBS_TIME
0  CA00616I001  20250205    PRCP    0.0  None  None     S     None
1  US1MOBY0025  20250115    WESF    0.0  None  None     N     0700
2  USW00014758  20250121    AWND   30.0  None  None     W     None
3  US1MANF0085  20250115    PRCP    0.0  None  None     N     0800
4  CA1ON000717  20250121    SNWD   86.0  None  None     N     0700

complete in 0.05 seconds

[Stage 501:>                                                        (0 + 1) / 1]

result.count() = 3596588

In [24]:
# CELL 4 Q2(C): Load Metadata Tables  
# CELL 4 Q2(C): 
# ------------------------------------------------

# Summary:
# - Load and parse metadata tables: stations, inventory, countries, and states
# - Each dataset is fixed-width format and will be read as text then parsed with substring

#  
#  
#  



# stations

dprintf(1,"stationsRawdf:{TXTPathRawStations}")
stationsRawdf = dReadTEXT(1,TXTPathRawStations)

stationsdf = stationsRawdf.select(
    F.substring("value", 1, 11).alias("ID"),
    F.substring("value", 13, 8).cast("double").alias("LATITUDE"),
    F.substring("value", 22, 9).cast("double").alias("LONGITUDE"),
    F.substring("value", 32, 6).cast("double").alias("ELEVATION"),
    F.substring("value", 39, 2).alias("STATE"),
    F.substring("value", 42, 30).alias("STATIONNAME"),
    F.substring("value", 73, 3).alias("GSNFLAG"),
    F.substring("value", 77, 3).alias("HCNFLAG"),
    F.substring("value", 81, 5).alias("WMOID")
)

stationsdf = stationsdf.withColumn("COUNTRYCODE", F.substring("ID", 1, 2)).drop("CODE")
# now ready for adornment   

dprintf(1,"stationsdf")
hprintf(1,stationsdf)
dWritePQ(0,PQPathstationsdf, stationsdf)

stationsRawdf:{TXTPathRawStations}
filename: wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-stations.txt
root
 |-- value: string (nullable = true)

                                               value
0  ACW00011604  17.1167  -61.7833   10.1    ST JO...
1  ACW00011647  17.1333  -61.7833   19.2    ST JO...
2  AE000041196  25.3330   55.5170   34.0    SHARJ...
3  AEM00041194  25.2550   55.3640   10.4    DUBAI...
4  AEM00041217  24.4330   54.6510   26.8    ABU D...

completed in 0.07 seconds
result.count() = 129657
stationsdf
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE
0,ACW00011604,17.1167,-61.7833,10.1,,ST JOHNS COOLIDGE FLD,,,,AC
1,ACW00011647,17.1333,-61.7833,19.2,,ST JOHNS,,,,AC
2,AE000041196,25.3330,55.5170,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE
3,AEM00041194,25.2550,55.3640,10.4,,DUBAI INTL,,,41194,AE
4,AEM00041217,24.4330,54.6510,26.8,,ABU DHABI INTL,,,41217,AE

dWritePQ: path = wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATIONS-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATIONS-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATIONS-metadata.parquet

False

In [26]:
# inventory then Countrycode ?- lets wait , country code could have been done earlier but it didnt look good 

dprintf(1,"inventoryRawdf")
inventoryRawdf = dReadTEXT(1, TXTPathRawInventory)

inventorydf = inventoryRawdf.select(
    F.substring("value", 1, 11).alias("CODE"),
    F.substring("value", 13, 8).cast("double").alias("LATITUDE"),
    F.substring("value", 22, 9).cast("double").alias("LONGITUDE"),
    F.substring("value", 32, 4).alias("ELEMENT"),
    F.substring("value", 37, 4).cast("int").alias("FIRSTYEAR"),
    F.substring("value", 42, 4).cast("int").alias("LASTYEAR")
)


dprintf(1,"inventorydf")
hprintf(1,inventorydf)
dWritePQ(0,PQPathinventorydf, inventorydf) # for analysis

inventoryRawdf
filename: wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-inventory.txt
root
 |-- value: string (nullable = true)

                                           value
0  ACW00011604  17.1167  -61.7833 TMAX 1949 1949
1  ACW00011604  17.1167  -61.7833 TMIN 1949 1949
2  ACW00011604  17.1167  -61.7833 PRCP 1949 1949
3  ACW00011604  17.1167  -61.7833 SNOW 1949 1949
4  ACW00011604  17.1167  -61.7833 SNWD 1949 1949

completed in 0.08 seconds
result.count() = 765615
inventorydf
root
 |-- CODE: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)

          CODE  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
0  ACW00011604   17.1167   -61.7833    TMAX       1949      1949
1  ACW00011604   17.1167   -61.7833    TMIN       1949      1949
2  ACW00011604   17.1167   -61.7833    PRCP       1949      1949
3  ACW00011604   17.1167   -61.7833    SNOW       1949      1949
4  ACW00011604   17.1167   -61.7833    SNWD       1949      1949

dWritePQ: path = wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/INVENTORY-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/INVENTORY-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/INVENTORY-metadata.parquet

False

In [27]:
# states

dprintf(1,"statesRawdf")
statesRawdf = dReadTEXT(1, TXTPathRawStates)

statesdf = statesRawdf.select(
    F.substring("value", 1, 2).alias("CODE"),
    F.substring("value", 4, 47).alias("NAME")
)

dWritePQ(0,PQPathstatesdf, statesdf)

statesRawdf
filename: wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-states.txt
root
 |-- value: string (nullable = true)

                                               value
0                                         AB ALBERTA
1                                          AK ALASKA
2  AL ALABAMA                                    ...
3                                        AR ARKANSAS
4                                  AS AMERICAN SAMOA

completed in 0.05 seconds
result.count() = 74
dWritePQ: path = wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATE-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATE-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATE-metadata.parquet

False

In [28]:
# countries

dprintf(1,"countriesdf")
countriesRawdf = dReadTEXT(1, TXTPathRawCountries)

countriesdf = countriesRawdf.select(
    F.substring("value", 1, 2).alias("CODE"),
    F.substring("value", 4, 61).alias("NAME")
) 

 
dWritePQ(0,PQPathCountriesdf, countriesdf)

countriesdf
filename: wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/ghcnd-countries.txt
root
 |-- value: string (nullable = true)

                      value
0   AC Antigua and Barbuda
1  AE United Arab Emirates
2            AF Afghanistan
3               AG Algeria
4            AJ Azerbaijan

completed in 0.05 seconds
result.count() = 219
dWritePQ: path = wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/COUNTRY-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/COUNTRY-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/COUNTRY-metadata.parquet

False

In [29]:
# CELL 5 Q2(D): Row Counts for Metadata Tables  
# CELL 5 Q2(D): 
# ------------------------------------------------

# Summary:
# - Count number of rows in each metadata table
# - Print each count for reference
#  
import pandas as pd

#  
#  
data = [
    ("STATIONS", stationsdf.count()),
    ("INVENTORY", inventorydf.count()),
    ("COUNTRIES", countriesdf.count()),
    ("STATES", statesdf.count())
]


Results = spark.createDataFrame(data, schema=["METADATA", "Count"])

hprintf(1,Results)

root
 |-- METADATA: string (nullable = true)
 |-- Count: long (nullable = true)

    METADATA   Count
0   STATIONS  129657
1  INVENTORY  765615
2  COUNTRIES     219
3     STATES      74

1

In [30]:
# CELL 6 Q3(A): Extract Country Code from Station ID  
# CELL 6 Q3(A): 
# ------------------------------------------------

# Summary:
# - Extract first two characters from station ID to identify country
# - Store as COUNTRYCODE column in stationsdf

#  
#  

dprintf(DEEBUG, "stationsdf")
hprintf(DEEBUG, stationsdf)

stationsdf
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE
0,ACW00011604,17.1167,-61.7833,10.1,,ST JOHNS COOLIDGE FLD,,,,AC
1,ACW00011647,17.1333,-61.7833,19.2,,ST JOHNS,,,,AC
2,AE000041196,25.3330,55.5170,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE
3,AEM00041194,25.2550,55.3640,10.4,,DUBAI INTL,,,41194,AE
4,AEM00041217,24.4330,54.6510,26.8,,ABU DHABI INTL,,,41217,AE

1

In [31]:
# Join 1: Add COUNTRYNAME from countriesdf

dprintf(1, "stationsdf (before join with countriesdf)")
hprintf(DEEBUG, stationsdf)

dprintf(1, "countriesdf (used for join)")
hprintf(DEEBUG, countriesdf)

stationsdf (before join with countriesdf)
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE
0,ACW00011604,17.1167,-61.7833,10.1,,ST JOHNS COOLIDGE FLD,,,,AC
1,ACW00011647,17.1333,-61.7833,19.2,,ST JOHNS,,,,AC
2,AE000041196,25.3330,55.5170,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE
3,AEM00041194,25.2550,55.3640,10.4,,DUBAI INTL,,,41194,AE
4,AEM00041217,24.4330,54.6510,26.8,,ABU DHABI INTL,,,41217,AE

countriesdf (used for join)
root
 |-- CODE: string (nullable = true)
 |-- NAME: string (nullable = true)

  CODE                   NAME
0   AC   Antigua and Barbuda
1   AE  United Arab Emirates
2   AF            Afghanistan
3   AG               Algeria
4   AJ            Azerbaijan

1

In [32]:
temp1dfCountry  = stationsdf.join(
    countriesdf,
    stationsdf["COUNTRYCODE"] == countriesdf["CODE"],
    "left"
).drop("CODE").withColumnRenamed("NAME","COUNTRYNAME")

dprintf(1, "temp1dfCountry (after join with countriesdf)")
hprintf(DEEBUG, temp1dfCountry)

temp1dfCountry (after join with countriesdf)
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE,COUNTRYNAME
0,ACW00011604,17.1167,-61.7833,10.1,,ST JOHNS COOLIDGE FLD,,,,AC,Antigua and Barbuda
1,ACW00011647,17.1333,-61.7833,19.2,,ST JOHNS,,,,AC,Antigua and Barbuda
2,AE000041196,25.3330,55.5170,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates
3,AEM00041194,25.2550,55.3640,10.4,,DUBAI INTL,,,41194,AE,United Arab Emirates
4,AEM00041217,24.4330,54.6510,26.8,,ABU DHABI INTL,,,41217,AE,United Arab Emirates

1

In [33]:
# Join 1: Add COUNTRYNAME from countriesdf

temp = inventorydf.withColumnRenamed("LATITUDE","DUMMY1").withColumnRenamed("LONGITUDE","DUMMY2")
hprintf(DEEBUG, temp)
hprintf(DEEBUG, inventorydf)
temp2dfInventory  = temp1dfCountry.join(
    temp, 
    stationsdf["ID"] == temp["CODE"],
    "left"
).drop("CODE", "DUMMY1","DUMMY2") #.withColumnRenamed("NAME","COUNTRYNAME")

dprintf(1, "temp2dfInventory (after join with inventorydf)")
hprintf(DEEBUG, temp2dfInventory)

root
 |-- CODE: string (nullable = true)
 |-- DUMMY1: double (nullable = true)
 |-- DUMMY2: double (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)

          CODE   DUMMY1   DUMMY2 ELEMENT  FIRSTYEAR  LASTYEAR
0  ACW00011604  17.1167 -61.7833    TMAX       1949      1949
1  ACW00011604  17.1167 -61.7833    TMIN       1949      1949
2  ACW00011604  17.1167 -61.7833    PRCP       1949      1949
3  ACW00011604  17.1167 -61.7833    SNOW       1949      1949
4  ACW00011604  17.1167 -61.7833    SNWD       1949      1949

root
 |-- CODE: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)

          CODE  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
0  ACW00011604   17.1167   -61.7833    TMAX       1949      1949
1  ACW00011604   17.1167   -61.7833    TMIN       1949      1949
2  ACW00011604   17.1167   -61.7833    PRCP       1949      1949
3  ACW00011604   17.1167   -61.7833    SNOW       1949      1949
4  ACW00011604   17.1167   -61.7833    SNWD       1949      1949

temp2dfInventory (after join with inventorydf)
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE,COUNTRYNAME,ELEMENT,FIRSTYEAR,LASTYEAR
0,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMAX,1944,2025
1,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMIN,1944,2025
2,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,PRCP,1944,2025
3,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TAVG,1944,2025
4,AEM00041217,24.433,54.651,26.8,,ABU DHABI INTL,,,41217,AE,United Arab Emirates,TMAX,1983,2025

1

In [34]:
dprintf(1, "temp2dfInventory (before join with statesdf)")
hprintf(DEEBUG, temp2dfInventory)

stationMetadata = temp2dfInventory.join(
    statesdf,
    temp2dfInventory["STATE"] == statesdf["CODE"],
    "left"
).drop("CODE").withColumnRenamed("NAME","STATENAME")

dprintf(1, "stationMetadata (after join with statesdf)")
hprintf(DEEBUG, stationMetadata)


dWritePQ(0,PQPathstationsdf, stationMetadata)

temp2dfInventory (before join with statesdf)
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE,COUNTRYNAME,ELEMENT,FIRSTYEAR,LASTYEAR
0,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMAX,1944,2025
1,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMIN,1944,2025
2,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,PRCP,1944,2025
3,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TAVG,1944,2025
4,AEM00041217,24.433,54.651,26.8,,ABU DHABI INTL,,,41217,AE,United Arab Emirates,TMAX,1983,2025

stationMetadata (after join with statesdf)
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)
 |-- STATENAME: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE,COUNTRYNAME,ELEMENT,FIRSTYEAR,LASTYEAR,STATENAME
0,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMAX,1944,2025,None
1,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMIN,1944,2025,None
2,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,PRCP,1944,2025,None
3,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TAVG,1944,2025,None
4,AEM00041217,24.433,54.651,26.8,,ABU DHABI INTL,,,41217,AE,United Arab Emirates,TMAX,1983,2025,None

dWritePQ: path = wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATIONS-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATIONS-metadata.parquet
⚠️ b = 0: SKIPPED WRITE TO: wasbs://campus-user@madsstorage002.blob.core.windows.net/dew59/STATIONS-metadata.parquet

False

In [35]:

dprintf(1, "stationMetadata (after join with statesdf)")
hprintf(DEEBUG, stationMetadata )


cols = ["ID", "LATITUDE", "LONGITUDE", "ELEVATION", "STATE", "STATIONNAME",
       "GSNFLAG", "HCNFLAG", "WMOID", "COUNTRYCODE", "COUNTRYNAME",
       "LATITUDE", "LONGITUDE", "ELEMENT", "FIRSTYEAR", "LASTYEAR", "STATENAME"]

results = []

# Loop through and collect counts
for colname in cols:
    count = countNonEmpty(stationMetadata, colname)
    results.append(Row(COLUMN=colname, COUNT=count))

# Convert list of Rows to DataFrame
summaryCounts = spark.createDataFrame(results)

# Show result
hprintf(1,summaryCounts,20)

stationMetadata (after join with statesdf)
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)
 |-- STATENAME: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE,COUNTRYNAME,ELEMENT,FIRSTYEAR,LASTYEAR,STATENAME
0,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMAX,1944,2025,None
1,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMIN,1944,2025,None
2,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,PRCP,1944,2025,None
3,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TAVG,1944,2025,None
4,AEM00041217,24.433,54.651,26.8,,ABU DHABI INTL,,,41217,AE,United Arab Emirates,TMAX,1983,2025,None

root
 |-- COLUMN: string (nullable = true)
 |-- COUNT: long (nullable = true)

         COLUMN   COUNT
0            ID  765623
1      LATITUDE  765623
2     LONGITUDE  765623
3     ELEVATION  765623
4         STATE  637583
5   STATIONNAME  765623
6       GSNFLAG    8695
7       HCNFLAG   27378
8         WMOID   57964
9   COUNTRYCODE  765623
10  COUNTRYNAME  765623
11     LATITUDE  765623
12    LONGITUDE  765623
13      ELEMENT  765615
14    FIRSTYEAR  765615
15     LASTYEAR  765615
16    STATENAME  637334

1

In [18]:
# CELL 8 Q3(B): Extract Country Name from stationMetadata  
# CELL 8 Q3(B): 
# ------------------------------------------------

# Summary:
# - From the stationMetadata meta-data: 
# - Display station ID, country code, and country name
#  

#  
#  

displaydf = stationMetadata.select("ID", "COUNTRYCODE", "COUNTRYNAME")\
            .dropDuplicates(["COUNTRYCODE"])
dprintf(1, "Display of station ID, country code, and country name")
hprintf(1, displaydf)

Display of station ID, country code, and country name
root
 |-- ID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)

            ID COUNTRYCODE            COUNTRYNAME
0  ACW00011604          AC   Antigua and Barbuda
1  AE000041196          AE  United Arab Emirates
2  AF000040930          AF            Afghanistan
3  AG000060390          AG               Algeria
4  AJ000037575          AJ            Azerbaijan

1

In [19]:
# CELL 9 Q3(C): Extract State Name from  Metadata  (Exploratory Only) 
# CELL 9 Q3(C): 
# ------------------------------------------------

# Summary:
# - Select and inspect STATE and STATENAME columns from stationMetadata
# - Validate correctness of state-level join from earlier enrichment step
#  

fiftyStates = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
    "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
    "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
    "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
    "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]

# Select distinct STATE-level rows
usStationsdf = stationMetadata \
    .filter(F.col("COUNTRYCODE") == "US") \
    .select("ID", "STATE", "STATENAME") \
    .dropDuplicates(["STATE"])

hprintf(1,usStationsdf,100)  # find out if there are more than 50 states coded.
    
# Split into recognised and unrecognised state codes
df_50states = usStationsdf.filter(F.col("STATE").isin(fiftyStates))
df_nonStates = usStationsdf.filter(~F.col("STATE").isin(fiftyStates))

dprintf(1, "✅ 50 Recognised U.S. States")
hprintf(1, df_50states,100)

dprintf(1, "⚠️ Extra STATE Codes")
hprintf(1, df_nonStates,100)

root
 |-- ID: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATENAME: string (nullable = true)

             ID STATE                                        STATENAME
0   US1AKAB0001    AK                                           ALASKA
1   USW00003850    AL  ALABAMA
2   USW00000133    AR                                         ARKANSAS
3   USS0009N05S    AZ                                          ARIZONA
4   USS0019L03S    CA                                       CALIFORNIA
5   USS0005J04S    CO                                         COLORADO
6   USW00014707    CT                                      CONNECTICUT
7   USW00093725    DC                             DISTRICT OF COLUMBIA
8   USW00013707    DE                                         DELAWARE
9   USW00003815    FL                                          FLORIDA
10  USW00003813    GA                                          GEORGIA
11  USW00021503    HI                                           HAWAII
12  USW00004916    IA                                             IOWA
13  USS0011E10S    ID                                            IDAHO
14  USW00003838    IL                                         ILLINOIS
15  USW00003868    IN                                          INDIANA
16  USW00003067    KS                                           KANSAS
17  USW00003814    KY                                         KENTUCKY
18  USW00003931    LA                                        LOUISIANA
19  USW00004769    MA                                    MASSACHUSETTS
20  USW00003749    MD                                         MARYLAND
21  USW00004836    ME                                            MAINE
22  USW00004839    MI                                         MICHIGAN
23  USW00004902    MN                                        MINNESOTA
24  USW00003817    MO                                         MISSOURI
25  USW00003866    MS                                      MISSISSIPPI
26  USS0009A01S    MT                                          MONTANA
27  USW00003758    NC                                   NORTH CAROLINA
28  USW00014912    ND                                     NORTH DAKOTA
29  USW00004901    NE                                         NEBRASKA
30  USW00004743    NH                                    NEW HAMPSHIRE
31  USW00004739    NJ                                       NEW JERSEY
32  USS0005N04S    NM                                       NEW MEXICO
33  USS0014H04S    NV                                           NEVADA
34  USW00004720    NY                                         NEW YORK
35  USW00003867    OH                                             OHIO
36  USW00003030    OK                                         OKLAHOMA
37  USS0017D02S    OR                                           OREGON
38  USW00003761    PA                                     PENNSYLVANIA
39  USW00014765    RI                                     RHODE ISLAND
40  USW00003728    SC                                   SOUTH CAROLINA
41  USS0003E05S    SD                                     SOUTH DAKOTA
42  USW00003809    TN                                        TENNESSEE
43  USW00000130    TX                                            TEXAS
44  USW00022703    UM                      U.S. MINOR OUTLYING ISLANDS
45  US1UTBE0002    UT                                             UTAH
46  USW00000153    VA                                         VIRGINIA
47  USW00014742    VT                                          VERMONT
48  USS0017A01S    WA                                       WASHINGTON
49  USW00000132    WI                                        WISCONSIN
50  USW00003733    WV                                    WEST VIRGINIA
51  USS0004E07S    WY                                          WYOMING

✅ 50 Recognised U.S. States
root
 |-- ID: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATENAME: string (nullable = true)

             ID STATE                                        STATENAME
0   US1AKAB0001    AK                                           ALASKA
1   US1ALAT0002    AL  ALABAMA
2   USR0000ABNV    AR                                         ARKANSAS
3   USR0000AALP    AZ                                          ARIZONA
4   USP00CA0001    CA                                       CALIFORNIA
5   USR0000CBAI    CO                                         COLORADO
6   USW00014707    CT                                      CONNECTICUT
7   USR0000DPRI    DE                                         DELAWARE
8   USR0000FBLO    FL                                          FLORIDA
9   USR0000GARM    GA                                          GEORGIA
10  USC00510006    HI                                           HAWAII
11  US1IAAD0002    IA                                             IOWA
12  USR0000I3MI    ID                                            IDAHO
13  USR0000IBNR    IL                                         ILLINOIS
14  USR0000IBAI    IN                                          INDIANA
15  USR0000KCIM    KS                                           KANSAS
16  USR0000KALP    KY                                         KENTUCKY
17  USR0000LBBR    LA                                        LOUISIANA
18  USR0000MCAP    MA                                    MASSACHUSETTS
19  USR0000MASS    MD                                         MARYLAND
20  USR0000MMCF    ME                                            MAINE
21  USR0000MBAL    MI                                         MICHIGAN
22  USC00213727    MN                                        MINNESOTA
23  USC00230031    MO                                         MISSOURI
24  US1MSAC0002    MS                                      MISSISSIPPI
25  US1MTBH0001    MT                                          MONTANA
26  US1NCAG0001    NC                                   NORTH CAROLINA
27  USC00320005    ND                                     NORTH DAKOTA
28  US10adam001    NE                                         NEBRASKA
29  US1NHBK0001    NH                                    NEW HAMPSHIRE
30  US1NJAT0001    NJ                                       NEW JERSEY
31  USC00290022    NM                                       NEW MEXICO
32  US1NVCC0002    NV                                           NEVADA
33  US1NYAB0001    NY                                         NEW YORK
34  US1OHAB0002    OH                                             OHIO
35  US1OKAD0002    OK                                         OKLAHOMA
36  US1ORBK0002    OR                                           OREGON
37  US1PAAD0002    PA                                     PENNSYLVANIA
38  US1RIBR0001    RI                                     RHODE ISLAND
39  USC00380072    SC                                   SOUTH CAROLINA
40  USC00390022    SD                                     SOUTH DAKOTA
41  US1CHARM185    TN                                        TENNESSEE
42  USC00410011    TX                                            TEXAS
43  US1UTBE0002    UT                                             UTAH
44  US1VAAB0001    VA                                         VIRGINIA
45  US1VTAD0001    VT                                          VERMONT
46  US1WAAD0002    WA                                       WASHINGTON
47  US1WIAD0002    WI                                        WISCONSIN
48  US1WVBB0001    WV                                    WEST VIRGINIA
49  US1WYAB0001    WY                                          WYOMING

⚠️ Extra STATE Codes
root
 |-- ID: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATENAME: string (nullable = true)

            ID STATE                    STATENAME
0  US1DCDC0001    DC         DISTRICT OF COLUMBIA
1  USW00022703    UM  U.S. MINOR OUTLYING ISLANDS

1

In [20]:
# CELL 10: Display Station Count by Country (Exploratory Only)  
# CELL 10: 
# ------------------------------------------------

# Summary:
# - Display-only: Count number of stations per country
# - Included for contextual exploration; not required by Q3
#  

#  
#  

data = (
    stationMetadata
    .groupBy("COUNTRYNAME")   #US and potentially other countries go by more than 1 ID
    .count()
    .orderBy(F.desc("count"))
)


total = data.agg(F.sum("count").alias("count")).withColumn("COUNTRYNAME", F.lit("TOTAL")) # TOTAL  count 

Results = total.select("COUNTRYNAME", "count").unionByName(data)

# Display with diagnostics
dprintf(DEEBUG, "Results – station count by country (TOTAL first)")
hprintf(1, Results,0)

Results – station count by country (TOTAL first)
root
 |-- COUNTRYNAME: string (nullable = true)
 |-- count: long (nullable = true)

Empty DataFrame
Columns: [COUNTRYNAME, count]
Index: []

1

In [41]:
# CELL 11 Q3(D): Count Unique Elements per Station  
# CELL 11 Q3(D): 
# ------------------------------------------------

# Summary:
# - Join stationMetadata : inventorydf by ID
# - For each station ID, count number of ELEMENTs 
# - Make human readable
#  

# Join and count unique ELEMENTs
dprintf(1, "stationMetadata")
hprintf(1, stationMetadata)
dprintf(1, "inventorydf")
hprintf(1, inventorydf)

stationElementsdf = stationMetadata.groupBy("ID", "STATIONNAME","COUNTRYNAME", "STATE") \
.agg(
    F.countDistinct("ELEMENT").alias("nElements")  # repurpose column: count of unique ELEMENTs
)

dprintf(1, "stationElementsdf - Unique ELEMENT counts per station (with COUNTRYNAME and STATE)")
hprintf(1, stationElementsdf)

stationMetadata
root
 |-- ID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEVATION: double (nullable = true)
 |-- STATE: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- GSNFLAG: string (nullable = true)
 |-- HCNFLAG: string (nullable = true)
 |-- WMOID: string (nullable = true)
 |-- COUNTRYCODE: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)
 |-- STATENAME: string (nullable = true)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,STATIONNAME,GSNFLAG,HCNFLAG,WMOID,COUNTRYCODE,COUNTRYNAME,ELEMENT,FIRSTYEAR,LASTYEAR,STATENAME
0,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMAX,1944,2025,None
1,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TMIN,1944,2025,None
2,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,PRCP,1944,2025,None
3,AE000041196,25.333,55.517,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE,United Arab Emirates,TAVG,1944,2025,None
4,AEM00041217,24.433,54.651,26.8,,ABU DHABI INTL,,,41217,AE,United Arab Emirates,TMAX,1983,2025,None

inventorydf
root
 |-- CODE: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ELEMENT: string (nullable = true)
 |-- FIRSTYEAR: integer (nullable = true)
 |-- LASTYEAR: integer (nullable = true)

          CODE  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
0  ACW00011604   17.1167   -61.7833    TMAX       1949      1949
1  ACW00011604   17.1167   -61.7833    TMIN       1949      1949
2  ACW00011604   17.1167   -61.7833    PRCP       1949      1949
3  ACW00011604   17.1167   -61.7833    SNOW       1949      1949
4  ACW00011604   17.1167   -61.7833    SNWD       1949      1949

stationElementsdf - Unique ELEMENT counts per station (with COUNTRYNAME and STATE)
root
 |-- ID: string (nullable = true)
 |-- STATIONNAME: string (nullable = true)
 |-- COUNTRYNAME: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- nElements: long (nullable = false)

,ID,STATIONNAME,COUNTRYNAME,STATE,nElements
0,AEM00041217,ABU DHABI INTL,United Arab Emirates,,4
1,AF000040930,NORTH-SALANG,Afghanistan,,5
2,AFM00040990,KANDAHAR AIRPORT,Afghanistan,,5
3,AG000060680,TAMANRASSET,Algeria,,4
4,AGE00147704,ANNABA-CAP DE GARDE,Algeria,,3

1

In [40]:
# CELL 12 Q3(E): Classify Stations by Core Element Coverage  
# CELL 12 Q3(E): 
# ------------------------------------------------

# Summary:
# - Join stationMetadata with inventorydf on ID to retain station names
# - For each station ID, collect all distinct ELEMENT values observed
# - Intersect with five core elements [PRCP, SNOW, SNWD, TMAX, TMIN]
# - Count number of matching core elements → CORE_COUNT
# - Classify each station:
#     CORE        = all 5 core elements
#     PARTIAL     = some but not all core elements
#     SPECIALISED = none of the core elements
# - Output ID, STATIONNAME, CORE_COUNT, CLASSIFICATION

#  
#  

coreElements = ["TMAX", "TMIN", "PRCP", "SNOW", "SNWD"]
stationElementsdf = stationMetadata.groupBy("ID", "STATIONNAME","COUNTRYNAME", "STATE")
# For each station, get the name of the element 
stationElementsdf = (
    inventorydf
    .groupBy("ID")                   # stationID
    .agg(F.collect_set("ELEMENT")    # get element names
    .alias("ELEMENTS"))              # repurpose 
)

dprintf(DEEBUG, "stationElementsdf - Joining stationMetadata with inventorydf to create stationElementsdf")
hprintf(DEEBUG,stationElementsdf)

coreIntersectdf = stationElementsdf.withColumn(
    "CORE_MATCH",
    F.array_intersect(
        F.array(
            F.lit("PRCP"),
            F.lit("SNOW"),
            F.lit("SNWD"),
            F.lit("TMAX"),
            F.lit("TMIN")
        ),
        F.col("ELEMENTS")
    )
)

dprintf(DEEBUG, "coreIntersectdf – matched core elements per station")
hprintf(DEEBUG,coreIntersectdf)

coreCountdf = coreIntersectdf.withColumn(
    "CORE_COUNT",
    F.size(F.col("CORE_MATCH"))
)

dprintf(1, "coreCountdf – number of core elements matched")

hprintf(DEEBUG,coreCountdf)

clasifydf = coreCountdf.withColumn(
    "CLASSIFICATION",
    F.when(F.col("CORE_COUNT") == 5, "CORE")
     .when((F.col("CORE_COUNT") > 0) & (F.col("CORE_COUNT") < 5), "PARTIAL")
     .otherwise("SPECIALISED")
)


resultdf = clasifydf.join(
    stationMetadata.select("ID", "STATIONNAME"),
    on="ID",
    how="left"
).select("ID", "STATIONNAME", "CORE_COUNT", "CLASSIFICATION")


hprintf(1, clasifydf)

dprintf(1, "resultdf – final output: ID, STATIONNAME, CORE_COUNT, CLASSIFICATION")
hprintf(1, resultdf)

# Step 1:  summary
groupSummarydf = resultdf.groupBy("CLASSIFICATION") \
    .count() \
    .withColumnRenamed("count", "nStations") \
    .orderBy("CLASSIFICATION")


dprintf(1, "groupSummarydf – number of stations per CLASSIFICATION category")
hprintf(1, groupSummarydf)

# Step 2:  total row
totalCount = groupSummarydf.agg(F.sum("nStations")).first()[0]
totalRow = spark.createDataFrame([("TOTAL", totalCount)], ["CLASSIFICATION", "nStations"])

# Step 3: Union the total row with the summary
summarydf = groupSummarydf.unionByName(totalRow)

dprintf(1, "summarydf"  )
hprintf(DEEBUG,summarydf)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `ID` cannot be resolved. Did you mean one of the following? [`CODE`, `LATITUDE`, `ELEMENT`, `LONGITUDE`, `FIRSTYEAR`].;
'Aggregate ['ID], ['ID, collect_set(ELEMENT#1582, 0, 0) AS ELEMENTS#2744]
+- Project [substring(value#1564, 1, 11) AS CODE#1579, cast(substring(value#1564, 13, 8) as double) AS LATITUDE#1580, cast(substring(value#1564, 22, 9) as double) AS LONGITUDE#1581, substring(value#1564, 32, 4) AS ELEMENT#1582, cast(substring(value#1564, 37, 4) as int) AS FIRSTYEAR#1583, cast(substring(value#1564, 42, 4) as int) AS LASTYEAR#1584]
   +- Relation [value#1564] text

In [ ]:
# CELL 13 Q3(E): Join Classification Back to stationMetadata  
# CELL 13 Q3(E): 
# ------------------------------------------------

# Summary:
# - Join classification labels (CORE / PARTIAL / SPECIALISED) back to stationMetadata
#  
#  

#  

# Join CLASSIFICATION from clasifydf to stationMetadata
dprintf(1, "stationMetadata (before join with CLASSIFICATION)")
hprintf(DEEBUG, stationMetadata)

dprintf(1, "clasifydf (ID + CLASSIFICATION)")
hprintf(DEEBUG, clasifydf)

classifiedStationsdf = stationMetadata.join(
    clasifydf.select("ID", "CLASSIFICATION"),
    on="ID",
    how="left"
)

dprintf(1, "classifiedStationsdf (after join with CLASSIFICATION)")
hprintf(DEEBUG, classifiedStationsdf)

In [ ]:
# CELL 14: Write Classified Metadata for Analysis  
# CELL 14: 
# ------------------------------------------------

# Summary:
# - Write only classifiedStationsdf for later analysis steps
# - stationsstationMetadatadf was already written in CELL 7
#  

#  
#  



dWritePQ(1, PQPathClassifiedStationsdf, classifiedStationsdf) # yet

In [ ]:
# CELL 15 Q1: - a last minute attempt to accept James challenge
# CELL 15 Q1: – Inspect Azure HDFS layout and daily folder contents
# ------------------------------------------------
# Summary:
# - PART 1: list contents under {prefix}
# - PART 2: human-readable size info under {prefix}
# - PART 3: HDFS block and file count for prefixDaily
# - PART 4: list and format daily file entries

#  A last minute attempt to do what James had challenged the class with.

dprintf(DEEBUG,"Q1:  Azure HDFS layout  daily folder ")

# --- PART 1: directory listing ---
dprintf(DEEBUG, "--- PART 1 ---")
start = time.time()

lines_ls = !hdfs dfs -ls {prefix}
parsed_ls = []

for line in lines_ls:
    line = line.strip()
    if not line or line.startswith("INFO") or line.startswith("WARN") or "Found" in line:
        continue

    parts = line.split()
    if len(parts) >= 2:
        perms     = parts[0]
        full_path = parts[-1]

        if perms.startswith("-") or perms.startswith("d"):
            rel_path = full_path.replace(prefix, '')
            parsed_ls.append((perms, rel_path))

for perms, name in parsed_ls:
    dprintf(DEEBUG, f"{perms:<12} {name}")

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")
# --- PART 2: du -h (size info) ---
dprintf(DEEBUG, "--- PART 2 ---")
start = time.time()

lines = !hdfs dfs -du -h {prefix}
parsed_du = []

for line in lines:
    if line.startswith("INFO") or line.startswith("WARN"):
        continue

    parts = line.split()
    if len(parts) >= 5:
        size1    = f"{parts[0]} {parts[1]}"
        size2    = f"{parts[2]} {parts[3]}"
        full_path = parts[4]
    elif len(parts) >= 3:
        size1, size2, full_path = parts[0], parts[1], parts[2]
    else:
        continue

    rel_path = full_path.replace(prefix, '')
    parsed_du.append((rel_path, size1, size2))

for name, size1, size2 in parsed_du:
    dprintf(DEEBUG, f"{name:<25} {size1:<7} {size2:<7}")

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")

# --- PART 3: HDFS file count ---
dprintf(DEEBUG, "--- PART 3 ---")
start = time.time()

!hdfs dfs -count {prefixDaily}

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")

# --- PART 4: list daily files ---
dprintf(DEEBUG, "--- PART 4 ---")
start = time.time()

lines_daily = !hdfs dfs -ls {prefixDaily}
parsed_daily = []

for line in lines_daily:
    line = line.strip()
    if not line or "INFO" in line or "WARN" in line or "Found" in line:
        continue

    parts = line.split()
    if len(parts) == 6:
        size      = parts[2]
        full_path = parts[5]
        file_name = full_path.rsplit('/', 1)[-1]
        parsed_daily.append((size, file_name))
    else:
        dprintf(DEEBUG, f"(wrong format): {line}")

if parsed_daily:
    for size, name in parsed_daily:
        dprintf(DEEBUG, f"{name:<15} {size}")
else:
    dprintf(DEEBUG, "none found.")

stop = time.time()
dprintf(DEEBUG, f"complete in {stop - start:.2f} seconds")

In [ ]:
stop_spark()